.jobbkk-pluse{ transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.jobbkk-pluse:hover{ -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05);}

/*ถูกใจ เข้าชม แสดงความเห็น*/
.social-so{ position: relative; width: 100%; margin-bottom: 10px;}
.social-so ul{ margin: 0; padding: 0; list-style: none;}
.social-so ul li{ white-space: initial; color: #555;}
.social-so ul li a{ display: block; color: #555; text-decoration: none;}
.social-so ul li a:hover{ color: #d40101;}
.social-so ul li a.active{ color: #d40101;}
.social-so ul li button.active{ color: #d40101;}
.social-so ul li button{ background: transparent; border: 0; color: #555; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.social-so ul li button:hover{ color: #d40101;}

.social-so ul.ex{ margin: 0 -10px; padding: 0; list-style: none; margin-bottom: 10px; overflow: hidden;}
.social-so ul li.ex{ white-space: initial; color: #555; padding: 0 10px; float: left;}
.social-so ul li.ex a{ display: block; color: #555; text-decoration: none;}
.social-so ul li.ex a:hover{ color: #d40101;}
.social-so ul li.ex a.active{ color: #d40101;}
.social-so ul li.ex button{ display: block; color: #555; background: transparent; border: 0; color: #555; 
	transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; 
	-ms-transition:all 0.3s ease-in;}
.social-so ul li.ex button:hover{ color: #d40101;}

@media (max-width:576px){
	.social-so ul li, .social-so ul li a, .social-so ul li.ex, .social-so ul li.ex a, .social-so ul li.ex button
	{ font-size: 12px; font-size: 1.2rem;}
}

/*6ปุ่ม ค้นหางาน*/
ul.push-6{ margin: 0; padding: 0; list-style: none;}
ul.push-6 li{ padding: 15px; float: left; width: 16.666666667%; text-align: center;}
ul.push-6 li a{ padding: 15px; text-decoration: none; display: block; color: #555;}
ul.push-6 li a .icon-knowledgebase{ background: url(../images/6push-learn-1.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-inspirational-person{ background: url(../images/6push-learn-2.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-hr-buddy{ background: url(../images/6push-learn-3.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-hi-light{ background: url(../images/6push-learn-4.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-video{ background: url(../images/6push-learn-5.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-lifestyle{ background: url(../images/6push-learn-6.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a span{ position: 	absolute; bottom: 5%; left: 0; right: 0;}

ul.push-6 li a:hover{ color: #D40101;}
ul.push-6 li a:hover .icon-knowledgebase{ background: url(../images/6push-learn-1-1.png) center no-repeat;}
ul.push-6 li a:hover .icon-inspirational-person{ background: url(../images/6push-learn-2-2.png) center no-repeat;}
ul.push-6 li a:hover .icon-hr-buddy{ background: url(../images/6push-learn-3-3.png) center no-repeat;}
ul.push-6 li a:hover .icon-hi-light{ background: url(../images/6push-learn-4-4.png) center no-repeat;}
ul.push-6 li a:hover .icon-video{ background: url(../images/6push-learn-5-5.png) center no-repeat;}
ul.push-6 li a:hover .icon-lifestyle{ background: url(../images/6push-learn-6-6.png) center no-repeat;}

.company-select-bg{ background: #f6f3f2; border-radius: 10px;}
ul.push-6 li a.company-red{ color: #D40101;}
ul.push-6 li a .knowledgebase-select{ background: url(../images/6push-learn-1-1.png) center no-repeat;}
ul.push-6 li a .inspirational-person-select{ background: url(../images/6push-learn-2-2.png) center no-repeat;}
ul.push-6 li a .company-career-select{ background: url(../images/6push-learn-3-3.png) center no-repeat;}
ul.push-6 li a .type-business-select{ background: url(../images/6push-learn-4-4.png) center no-repeat;}
ul.push-6 li a .industry-select{ background: url(../images/6push-learn-5-5.png) center no-repeat;}
ul.push-6 li a .mrt-bts-select{ background: url(../images/6push-learn-6-6.png) center no-repeat;}

@media (max-width:1199px){
	.row-jobbkk-1{ margin-right: 0; margin-left: 0;}
	ul.push-6{ display: flex; white-space: nowrap; overflow-x: scroll;}
	ul.push-6 li{ min-width: 22%; padding-bottom: 15px; padding-left: 0;}
	ul.push-6 li a{ border-radius: 10px; border: 1px solid #bfbfbf;}
}

@media (max-width:991px){
	ul.push-6 li{ min-width: 30%;}
}

@media (max-width:768px){
	ul.push-6 li a span{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:576px){
	ul.push-6 li{ min-width: 40%;}
}

@media (max-width:480px){
	ul.push-6 li{ min-width: 45%;}
}

@media (max-width:380px){
	ul.push-6 li a span{ font-size: 1rem; font-size: 10px;}
}

@media (max-width:350px){
	ul.push-6 li{ min-width: 65%;}
	ul.push-6 li a span{ font-size: 1.2rem; font-size: 12px;}
}

/*4ปุ่ม ภูมิภาค*/
.push-4-legion{ text-align: center;}
ul.push-4{ margin: 0; padding: 0; list-style: none; display: inline-block; width: 75%;}
ul.push-4 li{ padding: 15px; float: left; width: 25%; text-align: center;}
ul.push-4 li a{ padding: 15px; text-decoration: none; display: block; color: #555;}
ul.push-4 li a .icon-1{ background: url(../images/region-1.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-4 li a .icon-2{ background: url(../images/region-2.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-4 li a .icon-3{ background: url(../images/region-3.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-4 li a .icon-4{ background: url(../images/region-4.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-4 li a span{ position: absolute; bottom: 5%; left: 0; right: 0;}

ul.push-4 li a:hover{ color: #D40101;}
ul.push-4 li a:hover .icon-1{ background: url(../images/region-1-1.png) center no-repeat;}
ul.push-4 li a:hover .icon-2{ background: url(../images/region-2-1.png) center no-repeat;}
ul.push-4 li a:hover .icon-3{ background: url(../images/region-3-1.png) center no-repeat;}
ul.push-4 li a:hover .icon-4{ background: url(../images/region-4-1.png) center no-repeat;}

.company-select-bg{ background: #f6f3f2; border-radius: 10px;}
ul.push-4 li a.company-red{ color: #D40101;}
ul.push-4 li a .icon-1-select{ background: url(../images/region-1-1.png) center no-repeat;}
ul.push-4 li a .icon-2-select{ background: url(../images/region-2-1.png) center no-repeat;}
ul.push-4 li a .icon-3-select{ background: url(../images/region-3-1.png) center no-repeat;}
ul.push-4 li a .icon-4-select{ background: url(../images/region-4-1.png) center no-repeat;}

@media (max-width:991px){
	.row-jobbkk-1{ margin-right: 0; margin-left: 0;}
	ul.push-4{ display: flex; white-space: nowrap; overflow-x: scroll; width: 100%;}
	ul.push-4 li{ min-width: 30%; padding-bottom: 15px; padding-left: 0;}
	ul.push-4 li a{ border-radius: 10px; border: 1px solid #bfbfbf;}
}

@media (max-width:768px){
	ul.push-4 li a span{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:576px){
	ul.push-4 li{ min-width: 40%;}
}

@media (max-width:480px){
	ul.push-4 li{ min-width: 45%;}
}

@media (max-width:380px){
	ul.push-4 li a span{ font-size: 1rem; font-size: 10px;}
}

@media (max-width:350px){
	ul.push-4 li{ min-width: 65%;}
	ul.push-4 li a span{ font-size: 1.2rem; font-size: 12px;}
}

/* Sweep To Right */
.hvr-sweep-to-right { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;}
.hvr-sweep-to-right:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; border-radius: 10px; background: #f6f3f2;
	-webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform;
	transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active { color: #333;}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.display-region-pc{ display: block;}
.display-region-mobile{ display: none;}

.block-jobbkk-content-big{ width: 100%;}
.pic-content.pic-content-1 img{ height: 100px;}
.pic-content img{ height: inherit;}
.pic-content-1 img{ max-width: 100%; object-fit: scale-down; height: 150px; margin-bottom: 10px;}

@media (max-width:1199px){
	.pic-content.pic-content-big img{ height: 202px;}
	.pic-content-1 img{ height: 100px;}
}

@media (max-width:1170px){
	.display-region-pc{ display: none;}
	.display-region-mobile{ display: block;}
	.block-jobbkk-content-big{ display: flex; white-space: nowrap; overflow-x: scroll;}
	.block-jobbkk-content-big .jobbkk-content{ min-width: 40%;}
	.pic-content img{ height: 150px;}
}

@media (max-width:991px){
	.pic-content-1 img{ height: 120px;}
}

.justify-text{ padding: 20.5% 15px; text-align: center;}

@media (max-width:1199px){
	.justify-text{ padding: 20% 15px; font-size: 2.5rem; font-size: 25px;}
}

@media (max-width:991px){
	.justify-text{ font-size: 1.8rem; font-size: 18px;}
}

@media (max-width:767px){
	.justify-text{ padding:0 15px; font-size: 2.5rem; font-size: 25px;}
}

@media (max-width:576px){
	.justify-text{ padding:0 15px; font-size: 2.2rem; font-size: 22px;}
}

.pic-learn img{ max-width: 100%;}
.content-learn a{ display: block; text-decoration: none;}
.content-learn a.jobbkk-pluse-banner-learn:hover, .jobbkk-pluse-banner-learn:hover{ -webkit-transform: scale(1.1); -ms-transform: scale(1.05); transform: scale(1.05);}
.jobbkk-pluse-banner-learn{ transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}

.tag-learn ul{ margin: 0 -5px; padding: 0; list-style: none;}
.tag-learn ul li{ padding: 0 5px; float: left; margin-bottom: 5px;}
.tag-learn ul li a.learn-learn{ display: block; background: #f47920; padding: 3px 5px; font-size: 1rem; font-size: 10px; color: #ffffff; border-radius: 4px;}
.tag-learn ul li a.learn-learn:hover{ background: #D40101;}
a.learn-1-1, a.learn-learn{ text-decoration: none;}

/*อ่านต่อ*/
a.read-content{ display: inline-block; border: 1px solid #d40101; color: #d40101; background: #fff; border-radius: 10px; padding: 0 10px; text-decoration: none; cursor: pointer;}
a.read-content:hover{ background: #d40101; color: #fff;}

/*อ่านทั้งหมด*/
.read-content-learn{ text-align: right;}
.read-content-learn a.read-content{ padding: 5px; background: #fff; border-radius: 4px; border: 1px solid #d40101; color: #d40101; display: inline-block; cursor: pointer; 
	text-decoration: none; text-align: center;}
.read-content-learn a.read-content:hover{ background: #d40101; color: #fff;}
.top-read{ margin-top: 20px;}
.read-right{ text-align: right;}

.content-red-hov{ transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.content-red-hov:hover{ color: #d40101; text-decoration: underline;}

@media (max-width:1199px){
	.read-content-learn{ font-size: 12px; font-size: 1.2rem;}
}

@media (max-width:576px){
	.top-read{ margin-top: 0;}
	a.read-content{ font-size: 12px; font-size: 1.2rem;}
}

.block-content-learn{ padding: 10px 0;}
div.box-head{ height: 50px; overflow: hidden;}
div.box-detail{ height: 45px; overflow: hidden;}
div.box-1{ height: 40px; overflow: hidden;}

@media (max-width:576px){
	div.box-1{ height: 50px;}
	.read-content-learn a.read-content{ font-size: 12px; font-size: 1.2rem; padding: 5px;}
}

@media (max-width:576px){
	.pic-a-learn-learn, .text-a-learn{ width: 100%;}
	.pic-a-learn-learn{ margin-bottom: 20px;}
}

.jobbkk-link-text ul{ margin: 0 -5px; padding: 0; list-style: none; overflow: hidden;}
.jobbkk-link-text ul li{ float: left; padding: 5px;}
.jobbkk-link-text ul li a{ color: #555; text-decoration: none;}
.jobbkk-link-text ul li a.text-red{ color: #D40101;}
.jobbkk-link-text ul li a:hover{ color: #D40101;}

@media (max-width:576px){
	.jobbkk-link-text ul li{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:576px){
	.ad-learn{ width: 100%;}
}

ul.name-date{ margin: 0 -15px; padding: 0; list-style: none;}
ul.name-date li{ float: left; padding: 0 15px; border-right: 1px solid #bfbfbf; color: #555;}
ul.name-date li a{ display: inline-block; color: #555; text-decoration: none;}
ul.name-date li a.active{ color: #d40101;}
ul.name-date li a:hover{ color: #d40101;}
ul.name-date li:last-child{ border-right: 0;}

ul.name-date li button.active{ color: #d40101;}
ul.name-date li button{ background: transparent; border: 0; color: #555; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
ul.name-date li button:hover{ color: #d40101;}

@media (max-width:576px){
	ul.name-date li, ul.name-date li a, ul.name-date li button{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:480px){
	ul.name-date li{ border-right: 0;}
}

.pic-learn-content{ text-align: center;}
.pic-learn-content img{ max-width: 100%;}

.social-content{ text-align: right;}
.social-content button{ background: transparent; border: 0; transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; 
	-ms-transition:all 0.3s ease-in;}
.social-content button:hover{ color: #D40101;}

@media (max-width:576px){
	.social-content button{ font-size: 1.2rem; font-size: 12px;}
}

.jobbkk-register-social{ text-align: right; margin-top: 5px;}
.jobbkk-share-social ul{ list-style: none; padding: 0;}
.jobbkk-share-social ul li{ display: inline-block; padding: 0 10px 5px;}
.jobbkk-share-social ul li a{ display: block; width: 33px; height: 33px;}
.jobbkk-share-social ul li a.icon-fb{ background: url(../images/social-1-1.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-youtube{ background: url(../images/social-3-3.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-line{ background: url(../images/social-6-6.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-twis{ background: url(../images/social-2-2.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-skype{ background: url(../images/social-7-7.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-intragram{ background: url(../images/social-4-4.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-google{ background: url(../images/google-1-1.png) no-repeat; background-size: 100%;}
.jobbkk-share-social ul li a.icon-copylink{ background: url(../images/social-8-8.png) no-repeat; background-size: 100%;}

@media (max-width:768px){
	.jobbkk-register-social{ text-align: center; margin-bottom: 0;}
	.jobbkk-register{ text-align: center;}
	.jobbkk-share-social ul{ text-align: center;}
}

.text-variety h5{ line-height: 1.6; font-size: 1.6rem; font-size: 16px;}

@media (max-width:576px){
	.text-variety h5{ font-size: 1.2rem; font-size: 12px;}
}

.tag-learn-full{ width: 100%;}

/*หน้าภูมิภาค*/
.jobbkk-recomment{ width: 20%;}
.jobbkk-recomment a{ display: block; text-decoration: none; color: #555;}

@media (max-width:1170px){
	.jobbkk-recomment{ min-width: 22%; padding-bottom: 15px; padding-left: 0; margin-bottom: 0;}
}

@media (max-width:991px){
	.jobbkk-recomment{ min-width: 28%;}
}

@media (max-width:767px){
	.jobbkk-recomment{ min-width: 30%;}
}

@media (max-width:576px){
	.jobbkk-recomment{ min-width: 40%;}
}

@media (max-width:480px){
	.jobbkk-recomment{ min-width: 45%;}
}

@media (max-width:380px){
	.jobbkk-recomment{ min-width: 60%;}
}

@media (max-width:320px){
	.jobbkk-recomment{ min-width: 70%;}
}

.logo-company-region{ height: 200px; border-radius: 10px; text-align: center; padding: 10px;
    margin: 1px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); 
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px rgba(0,0,0,0.2); transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in;-ms-transition: all 0.3s ease-in;}
.logo-company-region img { max-width: 100%; height: 100%; object-fit: scale-down;}
