.manage_icms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.manage_icms > section {
  flex-grow: 1;
}
.manage_icms > section:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
.search_icms {
  display: flex;
  align-items: center;
}
.search_icms input {
  border-radius: 5rem 0 0 5rem;
}
.manage_icms > section button {
  background: var(--clWhite);
  color: var(--clRed);
  border-radius: 5rem;
  border: 0.1rem solid var(--clRed);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  height: 3.35rem;
}
.manage_icms > section button:hover {
  background: var(--clRed);
  color: var(--clWhite);
  border: 0.1rem solid var(--clRed);
}

.manage_icms > section button[type="submit"] {
  border-radius: 0 5rem 5rem 0;
  background: var(--clRed);
  color: var(--clWhite);
  display: flex;
  align-items: center;
  height: calc(1.5em + 0.75rem + 2px);
}
@media (max-width: 1200px) {
  .manage_icms {
    flex-wrap: wrap;
  }
  .manage_icms > section {
    flex-basis: 100%;
  }
  .manage_icms > section:last-child div {
    flex-basis: 50%;
  }
  .manage_icms > section > div button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
