.credit {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.credit > p {
  border-right: 0.1rem solid var(--clBlackGray);
}
.credit > p:first-child {
  padding-right: 1.5rem;
}
.credit > p:last-child {
  border-right: 0;
}
.list_group ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.list_group ul li a {
  background: var(--clWhite);
  color: var(--clRed);
  border: 0.1rem solid var(--clRed);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}
.list_group ul li a:hover,
.list_group ul li a.active {
  background: var(--clRed);
  color: var(--clWhite);
  border: 0.1rem solid var(--clRed);
}
.list_all {
  background: var(--clWhitetGray);
  border-top: 0.1rem solid var(--clGray);
  border-bottom: 0.1rem solid var(--clGray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.list_all .select_del{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.list_all .select_del label{
  display: none;
}
.create_group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.create_group h2{
  flex-shrink: 0;
}
.create_group .add_group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.create_group .add_group > div {
  display: flex;
  align-items: center;
}
.create_group .add_group > div input {
  border-radius: 5rem 0 0 5rem;
}
.create_group .add_group > div button {
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 0 5rem 5rem 0;
  border: 0.1rem solid var(--clRed);
  background: var(--clRed);
  color: var(--clWhite);
  padding: 0 1.5rem;
}
.search_name {
  display: flex;
  align-items: center;
}
.search_name input {
  border-radius: 5rem 0 0 5rem;
}
.search_name button {
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 0 5rem 5rem 0;
  border: 0.1rem solid var(--clRed);
  background: var(--clRed);
  color: var(--clWhite);
  padding: 0 1.5rem;
}

@media (max-width: 1200px) {
  .list_all .select_del label{
    display: block;
  }
  .create_group {
    flex-wrap: wrap;
  }
  .create_group h2,
  .create_group .add_group {
    flex-basis: 100%;
    max-width: 100%;
  }
  .create_group .add_group > div {
    width: 100%;
  }
  .create_group .search_name {
    flex-basis: 100%;
  }
}

.correct_group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.correct_group p {
  flex: 1 0 auto;
}
.correct_group input {
  border-radius: 5rem;
}
.thead tr th {
  vertical-align: middle;
  text-align: center;
}
.tbody tr td:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.tbody tr td {
  vertical-align: middle;
}
.tbody tr td:not(td:nth-child(2)) {
  text-align: center;
}
.tbody tr td:nth-child(4) button {
  background: var(--clWhite);
  color: var(--clRed);
  border: 0.1rem solid var(--clRed);
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
}
.tbody tr td:nth-child(4) button:hover {
  background: var(--clRed);
  color: var(--clWhite);
  border: 0.1rem solid var(--clRed);
}
.tbody tr td:last-child a {
  background: var(--clWhite);
  border: 0.1rem solid var(--clSky);
  color: var(--clSky);
  border-radius: 5rem;
  text-decoration: none !important;
  height: 3.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbody tr td:last-child a:hover {
  background: var(--clSkyHover);
  border: 0.1rem solid var(--clSkyHover);
  color: var(--clWhite);
}

.nav-tabs .nav-link {
  color: var(--clBlackGray);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--clRed);
}

#myTabContent .select_all label,
#myTabContent .name_tab label {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#addname_tab div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#addname_tab div p {
  flex-basis: 10rem;
  text-align: right;
}
#addname_tab div input {
  border-radius: 5rem;
}

@media (max-width: 1200px) {
  .tbody tr td:not(td:nth-child(2)) {
    text-align: inherit;
  }
  .tbody tr td:nth-child(4) {
    justify-content: flex-start;
  }
}
