#icms {
  display: none;
}
.menu_icms ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  align-items: center;
  gap: 1.5rem;
}
.menu_icms ul li a {
  background: var(--clWhite);
  color: var(--clRed);
  border: 0.1rem solid var(--clRed);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.menu_icms ul li a:hover,
.menu_icms ul li a.active {
  background: var(--clRed);
  color: var(--clWhite);
}

.menu_icms ul li a span {
  color: var(--clRed);
}
.menu_icms ul li a:hover span,
.menu_icms ul li a.active span {
  color: var(--clWhite);
}

@media (max-width: 991px) {
  #icms {
    display: block;
  }
  .menu_icms ul {
    display: flex;
    flex-direction: column;
    grid-template-columns: inherit;
    align-items: flex-start;
    gap: inherit;
    background: var(--clWhitetGray);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }
  .menu_icms ul.active {
    opacity: 1;
    visibility: visible;
  }
  .menu_icms ul li {
    width: 100%;
    border-bottom: 0.1rem dashed var(--clGray);
  }
  .menu_icms ul li:last-child {
    border-bottom: none;
  }
  .menu_icms ul li a {
    background: inherit;
    color: var(--clBlackGray);
    border: none;
    border-radius: inherit;
    padding: 0.5rem 1.5rem;
    text-align: left;
  }
  .menu_icms ul li a:hover,
  .menu_icms ul li a.active {
    background: var(--clGray);
    color: var(--clBlackGray);
  }
  .menu_icms ul li a:hover span {
    color: var(--clRed);
  }
}
