.clickUrgent{ background: var(--clRed); border: 1px solid var(--clRed); border-radius: 50px; padding: 5px 10px; color: var(--clWhite);}
.clickUrgent:hover{ background: var(--clRedHover); border: 1px solid var(--clRedHover);}

.gridText{ display: grid; grid-template-columns: 120px 1fr; grid-gap: 15px;}
.flexAround{ display: flex; grid-gap: 15px; align-items: center; justify-content: center; background: var(--clWhitetGray); padding: 15px;}
.flexAround a{ background: var(--clRed); color: var(--clWhite); padding: 5px 15px; border-radius: 5px;}
.flexAround a:hover{ background: var(--clRedHover);}

.gridStep2{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.gridStep2 label{ cursor: inherit; margin-bottom: 5px;}

.gridStep2-1{ display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 15px;}
.gridStep3{ display: grid; grid-template-columns: 0.5fr 1fr 0.5fr; grid-gap: 15px;}
.gridStep4{ display: grid; grid-template-columns: 0.5fr 1fr; grid-gap: 15px;}
.gridStep4-1{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.gridStep4-2{ display: grid; grid-template-columns: 1fr; grid-gap: 15px;}
.gridStep6{ display: grid; grid-template-columns: repeat(3, 1fr); align-items: center; grid-gap: 15px; margin-bottom: 15px;}
.gridStep6-1{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.gridStep7{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.gridStep8{ display: grid; grid-template-columns: 0.5fr 0.5fr 1fr; grid-gap: 15px;}
.gridStep9{ display: grid; grid-template-columns: 1fr; grid-gap: 15px;}
.gridStep10{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px; margin-bottom: 15px;}
.gridStep10-1{ display: grid; grid-template-columns: 1fr; grid-gap: 15px;}

.formControl{ border-radius: 50px;}
.formCon{ border-radius: 10px;}
.grid3{ grid-column: 1/4;}
.grid2{ grid-column: 1/3;}

.boxStudy{ border-radius: 10px;}
.gridList{ display: grid; grid-template-columns: 10px 1fr; grid-gap: 15px;}

.select2-container--default .select2-selection--single{ outline: 0;}
.select2-container--default .select2-selection--single .select2-selection__arrow{ height: 35px; right: 5px;}
.select2-container--default .select2-selection--single .select2-selection__clear{ font-size: var(--fontHead); top: -3px;}
.select2-container--default .select2-selection--multiple .select2-selection__clear{ font-size: var(--fontHead); top: -3px;}

@media (max-width:991px){
    .gridStep2, .gridStep2-1, .gridStep3, .gridStep4, .gridStep4-1, .gridStep4-2, .gridStep6, .gridStep6-1, .gridStep7, 
    .gridStep8, .gridStep10{ grid-template-columns: 1fr;}
    .grid2, .grid3{ grid-column: 1/2;}
}

.formVaridate .stepOrder{ display: flex; flex-direction: column;}
a.error, ul.error, input.error, .selection >.error, textarea.error, select.error, input.error:focus, textarea.error:focus, 
select.error:focus{ box-shadow: 0 0 0 0.1rem rgba(212, 1, 1, 0.5);}
label{ cursor: inherit;}
p.error{ color: var(--clRed); font-size: var(--fontSubText); margin-top: 5px; order: 3;}
label.pointer{ cursor: pointer;}

.gridMail{ display: grid; grid-template-columns: 1fr 0.2fr 0.2fr; align-items: center; grid-gap: 15px;}
.removeMail{ background: var(--clBlackGray); color: var(--clWhite); border: 1px solid var(--clBlackGray); border-radius: 50px; padding: 5px 10px;
    display: inline-block;}
.removeMail:hover{ background: var(--clBlack);}
.addMail{ background: var(--clRed); border: 1px solid var(--clRed); color: var(--clWhite); border-radius: 50px; padding: 5px 10px; 
    display: inline-block;}
.addMail:hover{ background: var(--clRedHover); border: 1px solid var(--clRedHover);}

.gridAddress{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px; 
    border-bottom: 1px dashed var(--clBlackGray); padding-bottom: 15px; margin-bottom: 15px;}
.removeAddress{ background: var(--clBlackGray); color: var(--clWhite); border: 1px solid var(--clBlackGray); 
    border-radius: 50px; padding: 5px 10px; display: inline-block; grid-column: 1/3; width: 200px; margin: 0 auto;}
.removeAddress:hover{ background: var(--clBlack);}
.addAddress{ background: var(--clRed); border: 1px solid var(--clRed); color: var(--clWhite); border-radius: 50px; 
    padding: 5px 10px; display: inline-block;}
.addAddress:hover{ background: var(--clRedHover); border: 1px solid var(--clRedHover);}

@media (max-width:991px){
    .gridMail{ display: flex; flex-wrap: wrap; border-bottom: 1px dashed var(--clBlackGray); 
        padding-bottom: 15px; margin-bottom: 15px; grid-gap: inherit;}
    .gridMail > input{ flex: 1 1 100%; max-width: 100%; margin-bottom: 15px;}
    .gridMail label{ text-align: left; margin-right: 15px;}
    .gridAddress{ grid-template-columns: 1fr;}
    .removeAddress{ grid-column: 1/2; width: 100%;}
}

.flexConfirm{ display: flex; justify-content: center; align-items: center;}
.flexConfirm button{ background: var(--clRed); color: var(--clWhite); border: 1px solid var(--clRed); padding: 5px 10px; 
    border-radius: 50px;}
.flexConfirm button:last-child{ background: var(--clWhite); color: var(--clBlackGray); border: 1px solid var(--clBlackGray);}
.flexConfirm button:hover{ background: var(--clRedHover); border: 1px solid var(--clRedHover); color: var(--clWhite);}

.gridDay{ display: grid; grid-template-columns: 1fr 1fr 0.5fr; grid-gap: 30px;}
.gridDays{ display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px;}

.mTop{ cursor: pointer; margin-top: 45px; padding-left: 35px; user-select: none; position: relative; transition: 0.5s ease-in-out;}
.checkmark{ position: absolute; top: 0; left: 0; width: 25px; height: 25px; background: var(--clGray); border-radius: 4px;}
.checkmark::after { content: ""; position: absolute; display: none;}
.mTop input[type="checkbox"]{ position: absolute; opacity: 0; height: 0; width: 0;}
.mTop input[type="checkbox"]:checked ~ .checkmark{ background: var(--clRed);}
.mTop input[type="checkbox"]:checked ~ .checkmark::after{ display: block;}
.mTop:hover input[type="checkbox"] ~ .checkmark { background: var(--clBlackGray);}
.mTop .checkmark::after{ left: 8px; top: 5px; width: 8px; height: 13px; border: solid white; border-width: 0 3px 3px 0; transform: rotate(45deg);}

@media (max-width:1199px){
    .gridDay{ grid-template-columns: 1fr 1fr;}
    .mTop{ margin-top: 0;}
}

@media (max-width:991px){
    .gridDay{ grid-template-columns: 1fr;}
}

@media (max-width:480px){
    .gridDays{ grid-template-columns: 1fr;}
}

.swal2-styled.swal2-cancel{ order: 2;}
.swal2-styled.swal2-confirm{ order: 1;}