.theme-register{ margin-top: 5px; text-align: right;}
.control-register{ padding-left: 10px;}
.register-member{ text-align: center;}
.register-member button{ border-radius: 10px; padding: 10px; background: #D40101; color: #FFFFFF; text-decoration: none; display: inline-block; width: 50%; border: 1px solid #d40101; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.register-member button:hover{ background: #eee; color: #D40101; border: 1px solid #eee;}
.data-company textarea{ height: 100px;}

a.only-condition{ color: #337ab7; text-decoration: none;}
a.only-condition:hover{ text-decoration: underline;}
.jobbkk-panel{ margin-bottom: 0; -webkit-box-shadow: 0 0 0 rgba(0,0,0,0); box-shadow: 0 0 0 rgba(0,0,0,0);}
.jobbkk-panel-title{ font-size: 1.4rem; font-size: 14px;}
.jobbkk-panel-body{ height: 200px; overflow-y: scroll;}
.jobbkk-panel-collapse{ margin-top: 20px; border: 1px solid #ebebeb;}

@media (max-width: 768px){
	.register-member button{ width: 100%;}
	.theme-register{ text-align: left; margin-bottom: 5px;}
}

