#policy_business .head_privacy_policy > div {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-gap: 1.5rem;
}
#policy_business .step span {
  color: var(--clRed);
}
#policy_business .step .step_one {
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  grid-gap: 1.5rem;
}
#policy_business .step .sub_list > div {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-gap: 1.5rem;
}
.table_two thead tr th {
  vertical-align: middle;
  text-align: center;
}
.table_two thead tr th {
  width: 33.3333333%;
  background: var(--clWhitetGray);
}
.table_two tbody tr td:nth-child(2) ul li{
    display: grid; grid-template-columns: 1rem 1fr; grid-gap: 1.5rem;
}
@media (max-width: 768px) {
  .table_responsive_two {
      overflow-x: auto;
  }
  .table_responsive_two .table_two{
      min-width: 76.8rem;
  }
}
