.line-border{ border-bottom: 1px solid #bfbfbf; overflow: hidden; margin-bottom: 20px;}
button{ transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.container-resume{ width: 714px; margin: 0 auto;}

.resume-logo{ padding: 20px 15px;}
.hilight-resume{ text-align: center;}
.hilight-resume img{ max-width: 350px;}
.hilight-resume a{ display: inline-block; color: #fff; background: #f47920; border-radius: 4px; padding: 10px; text-decoration: none;}
.hilight-resume a:hover{ background: #ebebeb; color: #d40101;}
.logo-resume{ text-align: right; margin-top: 15px;}
.logo-resume img{ max-width: 100px;}

@media (max-width: 991px){
	.hilight-resume img{ max-width: 250px;}
}

@media (max-width: 767px){
	.container-resume{ width: 100%;}
	.logo-resume{ text-align: center; margin-bottom: 10px;}
	.h-f-resume{ text-align: center;}
}

@media (max-width: 576px){
	.logo-resume{ text-align: center; width: 100%;}
}

.gray-gray{ background: #ebebeb;}
.bg-white-white{ background: #fff; border: 1px solid #bfbfbf; margin: 15px auto;}

.return-history{ text-align: right;}
.return-history ul{ margin: 0 -10px; padding: 0; list-style: none; display: inline-block;}
.return-history ul li{ float: left; padding: 0 10px;}
.return-history ul li a{ background: #d40101; color: #fff; padding: 5px 10px; border-radius: 4px; text-decoration: none;}
.return-history ul li:first-child a{ background: #fff; border: 1px solid #d40101; color: #d40101;}
.return-history ul li a:hover{ background: #ebebeb; color: #d40101;}
.return-history ul li:first-child a:hover{ border: 1px solid #ebebeb;}

@media (max-width: 576px){
	.necessary{ margin-bottom: 20px;}
	.necessary, .return-history{ width: 100%; text-align: center;}
}

.head-gray{ background: #ebebeb; padding: 15px;}
.head-white{ background: #fff; padding: 15px;}
.pic-user{ text-align: center;}
.pic-user img{ max-width: 150px; height: 150px; border-radius: 50%; border: 1px solid #bfbfbf; object-fit: cover; margin-bottom: 20px;}

.select-pic{ text-align: center;}
.select-pic label.up-pic{ padding: 10px; background: #f47920; display: inline-block; color: #fff; width: 50%; font-weight: 100; border-radius: 10px; cursor: pointer;
	margin-bottom: 0; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in;}
.select-pic label.up-pic input[type="file"] { display: none;}
.select-pic label.up-pic:hover{ background: #ebebeb; color: #d40101;}
.jobbkk-form-control{ padding-left: 15px;}

.add-data{ text-align: right;}
.add-data ul{ margin: 0 -10px; padding: 0; list-style: none; display: inline-block;}
.add-data ul li{ float: left; padding: 0 10px;}
.add-data ul li button{ padding: 5px; border-radius: 4px;}
.add-data ul li.plus-data button{ background: #d40101; color: #fff; border:1px solid #d40101;}
.add-data ul li.minus-data button{ background: #fff; color: #d40101; border: 1px solid #d40101;}
.add-data ul li button:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}

@media (max-width: 380px){
	.add-data ul{ display: block;}
	.add-data ul li{ width: 100%; margin-bottom: 10px;}
	.add-data ul li button{ width: 100%;}
}

.area-control{ height: 100px !important; width: 100%; border-radius: 10px;}
.form-control.form-control-day-time{ width: 100%; background: #fff; padding-left: 15px;}
.bootstrap-datetimepicker-widget{ width: 100% !important; overflow-x: scroll; bottom: 0;}
.table-condensed{ width: 100%; text-align: center;}
.picker-switch{ text-align: center;}
th.prev, th.next{ text-align: center;}
th.dow{ text-align: center;}

.list-list ul{ margin: 0; padding: 0; list-style: none;}

.use-jobbkk ul{ margin: 0 -10px; padding: 0; list-style: none;}
.use-jobbkk ul li{ float: left; padding: 0 10px;}

.capcha img{ width: auto;}
.save-save{ text-align: center;}
.save-save button{ background: #d40101; border: 1px solid #d40101; color: #fff; border-radius: 4px; padding: 5px 10px;}
.save-save button:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}

.work-work ul{ margin: 0 -10px; padding: 0; list-style: none;}
.work-work ul li{ float: left; padding: 0 10px;}

.bg-form{ background: #ebebeb;}
.form-white{ background: #fff; border: 1px solid #bfbfbf; overflow: hidden; margin: 20px auto;}

.logo-easy img{ max-width: 65px;}

@media (max-width: 576px){
	.logo-easy{ width: 100%; text-align: center;}
}




