.breadcrumb { background: transparent; padding: 0; font-size: var(--font16); color: var(--color-black-gray);}

/* contain-grid และ ปุ่มอ่านต่อ  */
.headGrid{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0 15px; align-items: center; margin-bottom: var(--margin-bottom20);}
.headContent{ font-size: var(--font24); color: var(--color-black-gray); text-transform: uppercase;}
.readMore{ text-align: right;}
.readMore a{ display: inline-block; text-decoration: none; background: var(--bg-red); color: var(--color-white); border-radius: 4px; padding: 10px; font-size: var(--font14);}
.readMore a:hover{ background: var(--bg-dark-red);}

/* hot news */
.hotNews{ margin-bottom: 40px;}
.hotNewsGrid{ display: grid; grid-template-columns: 0.5fr 1fr; list-style: none; margin: 0; padding: 0; grid-gap: 15px; position: relative;}
.hotNewsGrid li{ height: 100%; position: relative;}
.hotNewsGrid li a{ display: flex; align-items: center; flex-direction: column; border: 1px solid var(--bg-gray); border-radius: 10px; overflow: hidden; 
	text-decoration: none; color: var(--color-black-gray); height: 100%; position: relative;}
.hotNewsGrid li a img{ object-fit: scale-down; padding: 5px;}
.hotNewsGrid li a:hover{ transform: scale(1.05);}

.stallPin{ position: absolute; top: 0; left: 0; background: var(--bg-red); width: 50px; height: 50px; color: var(--color-white); display: flex; justify-content: center; align-items: center; 
	border-radius: 0 0 10px 0; opacity: 0.9;}
.stallPin .fa-thumb-tack{ transform: rotate(45deg);}

.hotNewsGrid li ul{ display: grid; grid-template-columns: repeat(3, 1fr); list-style: none; margin: 0; padding: 0; grid-gap: 15px;}
.bghotNews{ padding: 10px; display: flex; flex-wrap: wrap; margin-bottom: 40px; position: relative;}
.bghotNews p:first-child{ margin-bottom: var(--margin-bottom10);}
.bghotNews p:last-child{ color: var(--color-black-gray);}
.hotNewsRead{ padding: 10px; position: absolute; bottom: 0; display: flex; justify-content: flex-end; width: 100%;}
.hotNewsRead p{ background: var(--bg-red); color: var(--color-white); border-radius: 4px; padding: 5px; display: inline-block; transition: all 0.5s ease-in;}
.hotNewsGrid:hover .hotNewsRead p{ background: var(--bg-dark-red);}

.hotNewsMobile{ display: none;}

@media (max-width:1170px){
	.hotNewsGrid{ display: grid; grid-template-columns: 1fr;}
	.hotNewsGrid li ul{ grid-template-columns: repeat(3, 1fr);}
}

@media (max-width:768px){
	.hotNewsGrid{ /*grid-template-columns: 1fr;*/ display: inherit; overflow-x: inherit; padding-bottom: inherit;}
	.hotNewsGrid li{ height: inherit; min-height: 100%;}
	.hotNewsGrid li ul.subContent{ display: flex; overflow-x: scroll; padding-bottom: 10px;}
	.hotNewsGrid li ul.subContent li{ min-width: 35%; min-height: 100%; padding-left: 15px;}
	.hotNewsGrid li ul.subContent li:first-child{ padding-left: 0;}
	.hotNewsPC{ display: none;}
	.hotNewsMobile{ display: block;}
}

@media (max-width:576px){
	.hotNewsGrid li ul.subContent li{ min-width: 40%;}
}

@media (max-width:480px){
	.hotNewsGrid li ul.subContent li{ min-width: 45%;}
	.stallPin{ width: 40px; height: 40px;}
}

@media (max-width:320px){
	.hotNewsGrid li ul.subContent li{ min-width: 55%;}
}

/* job fair */
.jobFair{ margin-bottom: var(--margin-bottom40);}
.jobFairGrid{ display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); list-style: none; margin: 0; padding: 0; grid-gap: 15px;}
.jobFairGrid img{ border: 1px solid var(--bg-gray);}
.jobFairGrid li a{ display: flex; align-items: center; justify-content: center;}
.jobFairGrid li a:hover{ transform: scale(1.03);}

@media (max-width:991px){
	.jobFairGrid{ grid-template-columns: repeat(2, 1fr);}
}

@media (max-width:576px){
	.jobFairGrid{ grid-template-columns: 1fr;}
}

/* กิจกรรม */
.eventNewsGrid{ display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); list-style: none; margin: 0; padding: 0; grid-gap: 15px; position: relative;}
.eventNewsGrid li{ height: 100%; position: relative;}
.eventNewsGrid a{ display: flex; align-items: center; flex-direction: column; border: 1px solid var(--bg-gray); border-radius: 10px; overflow: hidden; 
	text-decoration: none; color: var(--color-black-gray); height: 100%; position: relative;}
.eventNewsGrid img{ object-fit: scale-down; padding: 5px;}
.eventNewsGrid a:hover{ transform: scale(1.05);}

.bgeventNews{ padding: 10px; display: flex; flex-wrap: wrap; margin-bottom: 40px; position: relative;}
.bgeventNews p:first-child{ margin-bottom: var(--margin-bottom10);}
.bgeventNews p:last-child{ color: var(--color-black-gray);}
.eventNewsRead{ padding: 10px; position: absolute; bottom: 0; display: flex; justify-content: flex-end; width: 100%;}
.eventNewsRead p{ background: var(--bg-red); color: var(--color-white); border-radius: 4px; padding: 5px; display: inline-block; transition: all 0.5s ease-in;}
.eventNewsGrid:hover .eventNewsRead p{ background: var(--bg-dark-red);}

@media (max-width:1170px){
	.hotNewsGrid{ display: grid; grid-template-columns: 1fr;}
	.hotNewsGrid li ul{ grid-template-columns: repeat(3, 1fr);}
}

@media (max-width:768px){
	.hotNewsGrid{ /*grid-template-columns: 1fr;*/ display: inherit; overflow-x: inherit; padding-bottom: inherit;}
	.hotNewsGrid li{ height: inherit; min-height: 100%;}
	.hotNewsGrid li ul.subContent{ display: flex; overflow-x: scroll; padding-bottom: 10px;}
	.hotNewsGrid li ul.subContent li{ min-width: 35%; min-height: 100%; padding-left: 15px;}
	.hotNewsGrid li ul.subContent li:first-child{ padding-left: 0;}
	.hotNewsPC{ display: none;}
	.hotNewsMobile{ display: block;}
}

@media (max-width:576px){
	.hotNewsGrid li ul.subContent li{ min-width: 40%;}
}

@media (max-width:480px){
	.hotNewsGrid li ul.subContent li{ min-width: 45%;}
	.stallPin{ width: 40px; height: 40px;}
}

@media (max-width:320px){
	.hotNewsGrid li ul.subContent li{ min-width: 55%;}
}

/* เนื้อหา */
.jobbkk-head h1{ font-size: var(--font24);}

/* ชื่อคนโพส แชร์ */
.flexNameShare{ display: flex; align-items: center; justify-content: space-between; font-size: var(--font16); 
	border-bottom: 1px solid var(--bg-gray); margin-bottom: 15px; flex-wrap: wrap;}
.nameDate{ display: flex; align-items: center; justify-content: center; margin: 0; padding: 0; list-style: none; margin-bottom: 15px;}
.nameDate li{ flex: 1 1 auto; flex-wrap: wrap; padding: 0 15px; border-right: 1px solid var(--bg-gray); text-align: center;}
.nameDate li:first-child{ padding-left: 0;}
.nameDate li:last-child{ border-right: 0;}
.nameDate li button{ background: transparent; border: 0;}
.nameDate li button:hover{ color: var(--bg-red);}
.nameDate li button.active{ color: var(--bg-dark-red);}

.socialContent{ margin-bottom: 15px;}
.socialContent button{ background: var(--bg-red); border: 1px solid var(--bg-red); border-radius: 4px; color: var(--bg-white);}
.socialContent button:hover{ background: var(--bg-dark-red); border: 1px solid var(--bg-dark-red);}
.text-login{ font-size: var(--font24);}
.textShare{ font-size: var(--font18);}
.shareSocial{ display: flex; justify-content: center; align-items: center;}
.shareSocial div{ margin-left: 15px;}

.jobShareSocial{ display: flex; justify-content: center; align-items: center; margin: 0; padding: 0; list-style: none;}
.jobShareSocial li{ flex: 1 1 auto;}
.jobShareSocial a{ display: block; width: 33px; height: 33px; background-size: cover; margin-right: 10px;}
.jobShareSocial a.icon-fb{ background: url(../images/social-1-1.png) no-repeat;}
.jobShareSocial a.icon-twis{ background: url(../images/social-2-2.png) no-repeat;}
.jobShareSocial a.icon-youtube{ background: url(../images/social-3-3.png) no-repeat;}
.jobShareSocial a.icon-intragram{ background: url(../images/social-4-4.png) no-repeat;}
.jobShareSocial a.icon-in{ background: url(../images/social-5-5.png) no-repeat;}
.jobShareSocial a.icon-line{ background: url(../images/social-6-6.png) no-repeat;}
.jobShareSocial a.icon-skype{ background: url(../images/social-7-7.png) no-repeat;}
.jobShareSocial a.copyLink{ background: url(../images/social-8-8.png) no-repeat;}
.jobShareSocial a.icon-google{ background: url(../images/social-9-9.png) no-repeat;}

@media (max-width:480px){
	.shareSocial{ flex-direction: column;}
	.shareSocial h2{ margin-bottom: 15px;}
	.flexNameShare{ flex-direction: column;}
	.socialContent, .socialContent button{ width: 100%;}
}

/* รายละเอียดเนื้อหา */
.detailContent{ display: flex; flex-direction: column; border-bottom: 1px solid var(--bg-gray); margin-bottom: 15px;}
.picVariety, .textVariety{ margin-bottom: 30px; font-size: var(--font16);}
.picVariety{ text-align: center;}
.picVariety img{ max-width: 100%; width: auto !important;}

/* content other */
.gridContentOther{ display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); list-style: none; margin: 0; padding: 0; 
	grid-gap: 15px; position: relative; margin-bottom: 30px;}
.gridContentOther li{ height: 100%; position: relative;}
.gridContentOther a{ display: flex; align-items: center; flex-direction: column; border: 1px solid var(--bg-gray); border-radius: 10px; overflow: hidden; 
	text-decoration: none; color: var(--color-black-gray); height: 100%; position: relative;}
.gridContentOther img{ object-fit: scale-down; padding: 5px;}
.gridContentOther a:hover{ transform: scale(1.05);}
.gridContentOther a:hover .eventNewsRead p{ background: var(--bg-dark-red);}

/* ปุ่มเมนูคลังความรู้ */
.gridKnowLedge{ margin: 0; padding: 0; list-style: none; display: grid; grid-template-columns:repeat(6,1fr); grid-template-rows: auto; 
	grid-gap: 0 10px; position: relative; margin: 40px 0;}
.gridKnowLedge li{ text-align: center;}
.gridKnowLedge div{ margin-bottom: var(--margin-bottom10);}
.gridKnowLedge a{ text-decoration: none; display: block; color: var(--color-black-gray); padding: 10px; height: 100%; position: relative; transition: ease-in 0.5s;}
.gridKnowLedge a.active{ color: var(--color-red);}
.gridKnowLedge a.active::after{ content: ''; position: absolute; top: 100%; left: 0; width: 100%; height: 5px; background: var(--bg-red); transform: scaleX(1);}
.gridKnowLedge a::after{ content: ''; position: absolute; top: 100%; left: 0; width: 100%; height: 5px; background: var(--bg-red); transform: scaleX(0); transform-origin: left; transition: transform 0.5s;}
.gridKnowLedge a:hover::after{ transform: scaleX(1);}
.gridKnowLedge a:hover{ color: var(--color-red);}
.gridKnowLedge img{ width: auto;}

.icon-recomment{ position: absolute; right: 0; top: 5px; background: var(--bg-red); border-radius: 4px; padding: 0 3px; 
	color: var(--color-white); font-size: var(--font12); animation: icon-recomment 1s ease infinite alternate; display: inline-block;}

@keyframes icon-recomment {
	from { transform: scale(1); }
	to { transform:  scale(1.1); }
}

@media (max-width:991px){
	.gridKnowLedge{ grid-template-columns:repeat(6,20%); overflow-x: scroll; padding-bottom: 10px;}
	.gridKnowLedge::-webkit-scrollbar{ height: 10px; background-color: #7D7979;}
	.gridKnowLedge::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
	.gridKnowLedge::-webkit-scrollbar-thumb { background-color:#7D7979; border-radius: 20px;}
}

@media (max-width:768px){
	.gridKnowLedge{ grid-template-columns:repeat(6,23%);}
}

@media (max-width:576px){
	.gridKnowLedge{ grid-template-columns:repeat(6,25%);}
}

@media (max-width:480px){
	.gridKnowLedge{ grid-template-columns:repeat(6,28%);}
}

/* คลังความรู้ */
.knowLedgeHead h1{ font-size: var(--font24);}
.flexLedge{ display: flex; flex-direction: column;}
.flexKnowLedgeBody{ display: flex; flex-direction: column;}
.flexKnowLedgeBody > div{ margin-bottom: 15px; border: 1px solid var(--bg-gray); padding: 15px; border-radius: 10px; transition: 0.5s ease-in-out;}
.flexKnowLedgeBody > div:hover{ transform: scale(1.03);}

.gridKnowLedgeBody{ display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 15px;}
.gridKnowLedgeBody img{ max-width: 100%; width: auto;}
.bgKnowLedge{ padding: 0; display: flex; flex-wrap: wrap; position: relative;}
.linkKnowLedge{ display: flex; flex-direction: column; position: relative; max-height: 100%; text-decoration: none;}
.knowRead{ padding: 0; position: relative;}
.knowRead a{ text-decoration: none; display: inline-block; color: var(--bg-white); background: var(--bg-red); border-radius: 4px; padding: 5px;}
.knowRead a:hover{ background: var(--bg-dark-red);}

.bgKnowLedge p{ color: var(--color-black-gray); font-size: var(--font16);}
.firstLedge, .lastLedge{ margin-bottom: 10px;}

.flexTag{ display: flex; align-items: center; flex-wrap: wrap; margin: 0; padding: 0; list-style: none;}
.flexTag li{ margin: 0 5px 5px 0;}
.flexTag li a{ display: inline-block; padding: 2px 4px; border-radius: 4px; font-size: 12px; color: var(--bg-white); background: #f47920; text-decoration: none;}
.flexTag li a:hover{ background: #c45505;}

/* เนื้อหาแนะนำ */
.headRec{ margin-bottom: 15px;}
.headRec h2{ font-size: var(--font24);}
.flexRec{ display: flex; flex-direction: column;}
.gridRecBody{ display: grid; grid-template-columns: 1fr; grid-gap: 15px 0;}
.gridRecBody figure{ text-align: center;}
.gridRecBody img{ max-width: 100%; width: auto;}

.pagiPage{ text-align: center; margin-top: 15px;}

/* บทความ */
.gridHilight{ display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 15px 20px; margin-bottom: 25px;}
.gridHilightBody{ display: grid; grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); grid-gap: 15px;}

.threeColumn{ padding: 0; display: flex; flex-direction: column; flex-wrap: wrap; position: relative;}

@media (max-width:991px){
	.gridHilight{ grid-template-columns: 1fr;}
	.gridHilightBody{ grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}
}

/* vdo */
.gridVdo{ display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-gap: 15px; margin-bottom: 40px;}
.vdoBKK{ margin-bottom: 15px;}
.bgVdo{ border: 1px solid var(--bg-gray); padding: 15px; border-radius: 10px; transition: 0.5s ease-in-out;}
.bgVdo:hover{ transform: scale(1.03);}