a{ display: block;}
h1, h2, h3, h4, h5, h6{ white-space: initial;}

/*fix banner*/
.sidebar{ height: 550px;}
.stick{ position: fixed; width: 300px; top: 120px;}
.abs{ position: absolute; bottom: 0; width: auto;}

@media (max-width: 1199px){
	.sidebar{ height: 420px; width: 240px;}
	.stick{ top: 120px;}
}

@media (max-width: 1170px){
	.stick{ top: 140px;}
}

@media (max-width: 991px){
	.sidebar{ width: 187.5px;}
}

@media (max-width: 842px){
	.stick{ top: 170px;}
}

/*6 button*/
ul.push-6{ margin: 0; padding: 0; list-style: none;}
ul.push-6 li{ padding: 15px; float: left; text-align: center; width: 14.28571428571429%;}
ul.push-6 li a{ padding: 25px 15px; text-decoration: none; display: block; color: #555;}
ul.push-6 li a .icon-company-recomment{ background: url(../../images/job-lists/6push-1.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-work-recomment{ background: url(../../images/job-lists/6push-2.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-career{ background: url(../../images/job-lists/6push-3.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-business{ background: url(../../images/job-lists/6push-4.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-industry{ background: url(../../images/job-lists/6push-5.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-mrt-bts{ background: url(../../images/job-lists/6push-6.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-speed-work{ background: url(../../images/job-lists/6push-7.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a .icon-oldman{ background: url(../../images/job-lists/6push-8.png) center no-repeat; width: auto; height: 70px; margin-bottom: 20px;}
ul.push-6 li a span{ position: absolute; bottom: -40px; left: 0; right: 0; font-size: 14px;}
ul.push-6 li a .icon-company{ position: relative;}
.icon-recomment{ position: absolute; right: 0; top: -15px; background: #d40101; border-radius: 4px; padding: 0 3px; color: #fff; font-size: 12px; font-size: 1.2rem; 
	animation: icon-recomment 1s ease infinite alternate; display: inline-block;}

@keyframes icon-recomment {
	from { transform: scale(1); }
	to { transform:  scale(1.1); }
}
ul.push-6 li a:hover{ color: #D40101;}
ul.push-6 li a:hover .icon-company-recomment{ background: url(../../images/job-lists/6push-1-1.png) center no-repeat;}
ul.push-6 li a:hover .icon-work-recomment{ background: url(../../images/job-lists/6push-2-2.png) center no-repeat;}
ul.push-6 li a:hover .icon-career{ background: url(../../images/job-lists/6push-3-3.png) center no-repeat;}
ul.push-6 li a:hover .icon-business{ background: url(../../images/job-lists/6push-4-4.png) center no-repeat;}
ul.push-6 li a:hover .icon-industry{ background: url(../../images/job-lists/6push-5-5.png) center no-repeat;}
ul.push-6 li a:hover .icon-mrt-bts{ background: url(../../images/job-lists/6push-6-6.png) center no-repeat;}
ul.push-6 li a:hover .icon-speed-work{ background: url(../../images/job-lists/6push-7-7.png) center no-repeat;}
ul.push-6 li a:hover .icon-oldman{ background: url(../../images/job-lists/6push-8-8.png) center no-repeat;}

.company-select-bg{ background: #f6f3f2; border-radius: 10px;}
ul.push-6 li a.company-red{ color: #D40101;}
ul.push-6 li a .company-recomment-select{ background: url(../../images/job-lists/6push-1-1.png) center no-repeat;}
ul.push-6 li a .company-work-recomment-select{ background: url(../../images/job-lists/6push-2-2.png) center no-repeat;}
ul.push-6 li a .company-career-select{ background: url(../../images/job-lists/6push-3-3.png) center no-repeat;}
ul.push-6 li a .type-business-select{ background: url(../../images/job-lists/6push-4-4.png) center no-repeat;}
ul.push-6 li a .industry-select{ background: url(../../images/job-lists/6push-5-5.png) center no-repeat;}
ul.push-6 li a .mrt-bts-select{ background: url(../../images/job-lists/6push-6-6.png) center no-repeat;}
ul.push-6 li a .speed-work-select{ background: url(../../images/job-lists/6push-7-7.png) center no-repeat;}
ul.push-6 li a .oldman-select{ background: url(../../images/job-lists/6push-8-8.png) center no-repeat;}

@media (max-width:1199px){
	.row-jobbkk-1{ margin-right: 0; margin-left: 0;}
	ul.push-6{ display: flex; white-space: nowrap; overflow-x: scroll;}
	ul.push-6 li{ min-width: 22%; padding-bottom: 15px; padding-left: 0;}
	ul.push-6 li a{ border-radius: 10px; border: 1px solid #bfbfbf;}
	ul.push-6::-webkit-scrollbar{ height: 10px; background-color: #7D7979;}
	ul.push-6::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
	ul.push-6::-webkit-scrollbar-thumb { background-color:#7D7979; border-radius: 20px;}
}

@media (max-width:991px){
	ul.push-6 li{ min-width: 30%;}
}

@media (max-width:768px){
	ul.push-6 li a span{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:576px){
/*	.push-6-job-search{ display: none;}*/
	ul.push-6 li{ min-width: 40%;}
}

@media (max-width:480px){
	ul.push-6 li{ min-width: 45%;}
}

@media (max-width:380px){
	ul.push-6 li a span{ font-size: 1rem; font-size: 10px;}
}

@media (max-width:350px){
	ul.push-6 li{ min-width: 65%;}
	ul.push-6 li a span{ font-size: 1.2rem; font-size: 12px;}
}

/* Sweep To Right */
.hvr-sweep-to-right { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;}
.hvr-sweep-to-right:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; border-radius: 10px; background: #f6f3f2;
	-webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform;
	transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {  color: #333;}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

/* ค้นหางาน */
.search-job-all{ /*background: #f6f3f2;*/ color: #D40101; border-radius: 10px 10px 0 0; border:1px solid #BFBFBF; border-bottom: 0; overflow: hidden;}
.search-job-all ul{ margin: 0; padding: 0; list-style: none;}
.search-job-all ul li{ padding: 10px 15px; font-size: 2rem; font-size: 20px;}
.search-job-all ul li.search-job-number{ font-size: 1.4rem; font-size: 14px; margin-top: 5px; text-align: right;}

@media (max-width:576px){
	.search-job-all ul li.search-job-number{ margin-top: 2px;}
}

.list-company-default{ border: 1px solid #BFBFBF; border-bottom: 0; background: #FFFFFF; padding: 15px; overflow: hidden; position: relative;
	transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.list-company-default a.list-company{ display: block; text-decoration: none; margin: 0;}
.list-company-default:hover{ background: #f6f3f2;}
.row-applying{ padding-left: 15px;}
.jobbkk-applying .applying{ color: #D40101; margin-bottom: 10px; font-size: 16px; font-size: 1.6rem;}
.jobbkk-list-company a.list-company-read h6{ color: #5D99E9;}

.company-border{ border: 1px solid #BFBFBF; border-bottom: 0; border-top: 0; background: #FFF; padding: 15px; overflow: hidden; position: relative;
	transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.company-border a.list-company{ display: block; text-decoration: none; margin: 0;}
.company-border:hover{ background: #f6f3f2;}

@media (max-width:380px){
	.row-applying{ padding-left: 0;}
}

.jobbkk-job-hilight{ margin-bottom: 40px;}
.job-hilight{ color: #555;}
.job-hilight ul{ margin: 0; padding: 0; list-style: none; display: flex;}
.job-hilight ul li{ padding: 10px 0; font-size: 3rem; font-size: 30px; color: #D40101;}
.job-hilight ul li.job-hilight-read{ font-size: 1.4rem; font-size: 14px; margin-top: 10px; text-align: right;}
.job-hilight ul li.job-hilight-read a{ color: #555; display: block; text-decoration: none;}
.job-hilight ul li.job-hilight-read a:hover{ color: #D40101;}
.hilight-list-company a.company-hilight{ display: block; overflow: hidden;}
.hilight-list-company-border{ border: 1px solid #BFBFBF; border-right: 0; /*background: #E6E9EE;*/ background: #fff4f4; padding: 10px;}

.hilight-border-all{ border: 1px solid #BFBFBF; background: #fff4f4; padding: 10px;}
.hilight-border-noright{ border: 1px solid #BFBFBF; border-right: 0; background: #fff4f4; padding: 10px;}
.hilight-border-noleft{ border: 1px solid #BFBFBF; border-left: 0; background: #fff4f4; padding: 10px;}

@media (max-width:576px){
	.job-hilight ul li:first-child{ font-size: 2rem; font-size: 20px;}
	.job-hilight ul li.job-hilight-read{ margin-top: 0;}
}

.urgent{ background: #D40101; color: #ffffff; padding: 5px; font-size: 1.4rem; font-size: 14px; text-align: center; animation-name: example;
    animation-duration: 1s; animation-iteration-count: infinite;}

@keyframes example {
	0%{color: #ffffff;}
    50%{color: transparent;}
    100%{color: #ffffff;}
}

.jobbkk-list-company-recomment, .jobbkk-list-company-recomment:hover{ background: #f6f3f2;}

.list-company-hilight{ background: #ebebeb;}
.list-company-hilight a.company-hilight{ color: #555; display: block; overflow: hidden;}
.hilight-list-company{ width: 20%;}

.list-company-default-border{ border: 1px solid #bfbfbf;}
.hilight-list-company-border-right{ border-right: 1px solid #bfbfbf;}
.company-top{ border-top: 1px solid #bfbfbf;}
.company-bottom{ border-bottom: 1px solid #bfbfbf;}

a.list-company{ margin-bottom: 20px;}
.handicapped{ margin-left: 5px;}
.handicapped img{ max-width: 15px;}
.time-company{ text-align: right;}
.jobbkk-image-company img{ border: 1px solid #BFBFBF; background: #FFFFFF; height: 60px; object-fit: scale-down;}
.jobbkk-image-company.image-company img{ height: 100px; object-fit: scale-down; padding: 5px;}

@media (max-width:1199px){
	.jobbkk-image-company.image-company img{ height: 120px;}
}

@media (max-width:991px){
	.jobbkk-job-hilight{ margin-bottom: 20px;}
	.jobbkk-image-company.image-company img{ height: 90px;}
}

@media (max-width:767px){
	.jobbkk-image-company.image-company img{ height: 120px;}
}

@media (max-width:576px){
	.jobbkk-image-company-44{ width: 30%;}
	.jobbkk-applying-44{ width: 70%;}
}

@media (max-width:320px){
	.jobbkk-image-company.image-company img{ height: 100px;}
}

h6.read-day{ color: #d40101;}

@media (max-width:1199px){
	.job-hilight ul li.job-hilight-read{ text-align: right;}
	.job-hilight-list-company{ display: flex; white-space: nowrap; overflow-x: scroll;}
	.hilight-list-company{ min-width: 27%;}
}

@media (max-width:991px){
	.hilight-list-company{ min-width: 40%;}
}

@media (max-width:576px){
	.hilight-list-company{ min-width: 60%;}
}

@media (max-width:480px){
	.hilight-list-company{ min-width: 70%;}
}

@media (max-width:380px){
	.hilight-list-company{ min-width: 80%;}
}

.jobbkk-group h2{ color: #D40101;}
.bg-grey-search-work{ background: #f6f3f2;}
ul.jobbkk-worktab-career{ border-bottom: 0; display: flex;}
.jobbkk-worktab-career li{ border: 0; width: 33.3333333%; text-align: center; display: inline-grid;}
.jobbkk-worktab-career li:first-child{ border-left: 0;}
.jobbkk-worktab-career li a{ color: #555;}
.jobbkk-worktab-career>li.active>a, .jobbkk-worktab-career>li.active>a:focus, .jobbkk-worktab-career>li.active>a:hover{ background: #FFFFFF; color: #D40101; 
	border: 0 transparent; border-bottom: 5px solid #D40101;}

@media (max-width: 1300px){
	.jobbkk-worktab-career li a{ font-size: 1.4rem; font-size: 14px;}
}
	
@media (max-width:991px){
	.jobbkk-worktab-career li{ min-width: inherit;}
}

@media (max-width:576px){
	/*.jobbkk-worktab-career{ display: flex; overflow-x: scroll; white-space: nowrap;}
	.jobbkk-worktab-career li{ width: inherit; min-width: 45%; border: 1px solid #BFBFBF; border-left: 0;}
	.jobbkk-worktab-career li:first-child{ border-left: 1px solid #BFBFBF;}
	.jobbkk-worktab-career li a{ padding: 10px; border-bottom: 1px solid #BFBFBF;}
	.jobbkk-worktab-career>li.active>a, .jobbkk-worktab-career>li.active>a:focus, .jobbkk-worktab-career>li.active>a:hover{ background: #D40101; 
		color: #ffffff; border: 1px solid #D40101;}
	.jobbkk-group h2{ font-size: 2.2rem; font-size: 22px;}*/
}

/*สาขาอาชีพ*/
.jobkk-list-career ul{ margin: 20px 0; padding: 0; list-style: none; width: 100%;}
.jobkk-list-career ul li{ float: left; width: 33.3333333%; position: relative; margin-bottom: 5px;}
.jobkk-list-career ul li a{ display: block; color: #555; white-space: nowrap; 
	text-overflow: ellipsis; overflow: hidden; position: relative; z-index: 3; margin-left: 10px; padding: 5px; text-decoration: none;}
.jobkk-list-career ul li a:focus, .jobkk-list-career ul li a:active{ color: #ffffff;}
.jobkk-list-career ul li.type-hilight a:hover{ color: #ffffff; text-decoration: none;}
.jobkk-list-career li:before{ height: 100%; width: 5px; content: ''; background: transparent; display: inline-block; position: absolute;
    z-index: 2; -webkit-transition: ease-in-out all .25s; -moz-transition: ease-in-out all .25s; transition: ease-in-out all .25s;}
.jobkk-list-career li.type-hilight:before{ background: #D40101;}
.jobkk-list-career ul li.type-hilight:hover{ color: #fffff;}
.jobkk-list-career ul li.type-hilight:hover:before{ width: 99%;}

span.jobcaret{ float: right; margin-top: 7px; margin-right: 5px;}
ul.dropdown-menu-job{ margin: 0; width: 99%; border-radius: 0 0 4px 4px;}
ul.dropdown-menu-job li.list-job{ float: none; width: 100%; margin-bottom: 0; color: #555;}
ul.dropdown-menu-job li.list-job a{ margin-left: 0; padding-left: 10px; white-space: inherit;}
ul.dropdown-menu-job li.list-job a:hover{ color: #555;}

@media (max-width:991px){
	.jobkk-list-career ul li{ width: 50%;}
}

@media (max-width:576px){
	.jobkk-list-career ul li{ width: 100%; font-size: 1.2rem; font-size: 12px;}
}

ul.social-company{ margin: 10px 0 0; padding: 0; list-style: none; display: inline-block; text-align: right; width: 100%;}
ul.social-company li{ display: inline;}
ul.social-company li:last-child{ padding-right: 0;}
ul.social-company li a.job-social{ border-radius: 10px; border: 1px solid #bfbfbf; background: #FFFFFF; padding: 3px 10px; color: #555; text-decoration: none;
	text-align: center; display: inline-block; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
ul.social-company li a.job-social:hover, ul.social-company li button.jobbkk-applying-work:hover{ background: #ebebeb; color: #D40101; 
	border: 1px solid #ebebeb;}
ul.social-company li a.jobbkk-applying-work{ background: #D40101; color: #FFFFFF; border: 1px solid #D40101;}
ul.social-company li a.jobbkk-no-interview, ul.social-company li button.jobbkk-no-interview:hover{ color: #bfbfbf;}
ul.social-company li a.active{ color: #fff; background: #2FA71D; border: 1px solid #2FA71D;}

@media (max-width:576px){
	ul.social-company{ padding: 0; position: inherit; display: flex;}
	ul.social-company li{ display: inline-grid; width: 33.3333333%; float: left; padding-right: 5px;}
	ul.social-company li a{ width: 100%;}
	ul.social-company li a.job-social{ padding: 5px;}
	/*ul.social-company li:nth-child(2){ padding-right: 0;}*/
}

/*.jobbkk-register-social{ text-align: right; margin-top: 5px;}*/
/*.jobbkk-share-social ul{ list-style: none; padding: 0;}*/
/*.jobbkk-share-social ul li{ display: inline-block; padding: 0 10px 5px;}*/
/*.jobbkk-share-social ul li a{ display: block; width: 33px; height: 33px;}*/
/*.jobbkk-share-social ul li a.icon-fb{ background: url(../images/social-1-1.png) no-repeat; background-size: 100%;}*/
/*.jobbkk-share-social ul li a.icon-youtube{ background: url(../images/social-3-3.png) no-repeat; background-size: 100%;}*/
/*.jobbkk-share-social ul li a.icon-line{ background: url(../images/social-6-6.png) no-repeat; background-size: 100%;}*/
/*.jobbkk-share-social ul li a.icon-twis{ background: url(../images/social-2-2.png) no-repeat; background-size: 100%;}*/
/*.jobbkk-share-social ul li a.icon-skype{ background: url(../images/social-7-7.png) no-repeat; background-size: 100%;}*/
/*.jobbkk-share-social ul li a.icon-intragram{ background: url(../images/social-4-4.png) no-repeat; background-size: 100%;}*/
/*.jobbkk-share-social ul li a.icon-copylink{ background: url(../images/social-8-8.png) no-repeat; background-size: 100%;}*/

@media (max-width:768px){
	.jobbkk-register-social{ text-align: center; margin-bottom: 0;}
	.jobbkk-register{ text-align: center;}
	.jobbkk-share-social ul{ text-align: center;}
}

.applying-hilight{ color: #D40101;}

@media (max-width:320px){
	.job-right-page{ width: 100%;}
}

.read-recomment{ background: #D40101; color: #ffffff; padding: 5px 10px; border-radius: 10px; text-decoration: none !important; display: inline-block;}
.read-recomment:hover{ background: #ebebeb; color: #D40101;}

@media (max-width:576px){
	.read-recomment{ font-size: 1.2rem; font-size: 12px;}
}

a.hover-work{ color: #555;}
div.box3{ height: 50px;}
div.box4{ height: 60px;}

.recomment{ background: #f47920; padding: 0 5px; color: #ffffff;}
.work-com{ margin-right: 5px;}
.work-com, .recomment{ float: left;}

.sale-wab {
	animation: beat 1s ease infinite alternate;
}

@keyframes beat {
	from { transform: scale(1); }
	to { transform:  scale(1.1); }
}

/*ไม่พบข้อมูล*/
.box-no-data{ border: 1px solid #bfbfbf; background: #fff; border-radius: 0 0 10px 10px; overflow: hidden; padding: 15px;}
.you-no-cre{ background: #f6f3f2; border: 1px solid #ddd; border-radius: 10px; overflow: hidden; padding: 15px;}
.announce-cre{ text-align: center;}
.announce-cre ul{ display: inline-block; margin-top: 75px; padding: 0; list-style: none;}
.announce-cre ul li{ text-align: center;}
.announce-cre ul li:first-child{ font-size: 28px; font-size: 2.8rem; margin-bottom: 20px;}
.announce-cre ul li a{ background: #d40101; color: #fff; border-radius: 4px; padding: 5px 15px; font-size: 18px; font-size: 1.8rem; text-decoration: none; display: inline-block;}
.announce-cre ul li a:hover{ background: #ebebeb; color: #d40101;}

@media (max-width:1199px){
	.announce-cre ul{ margin-top: 35px;}
}

@media (max-width:991px){
	.announce-cre ul li:first-child{ font-size: 20px; font-size: 2rem;}
	.announce-cre ul{ margin: 30px 0 0;}
	.announce-cre ul li a{ font-size: 14px; font-size: 1.4rem;}
}

@media (max-width:767px){
	.announce-cre ul li:first-child{ font-size: 24px; font-size: 2.4rem;}
	.announce-cre ul{ margin: 40px 0 0;}
}

@media (max-width:576px){
	.nocre-pic, .announce-cre{ width: 100%; text-align: center;}
	.nocre-pic img{ max-width: 250px;}
	.announce-cre ul li:first-child{ font-size: 24px; font-size: 2.4rem;}
	.announce-cre ul{ margin-bottom: 20px;}
}

h6.applying{ color: #D40101; font-size: 14px; font-size: 1.4rem;}
h6.applying:hover{ text-decoration: underline;}
a.positon-work{ color: #555; text-decoration: none; display: block;}

.right-page{ margin-bottom: 20px;}

@media (max-width:1680px){
	.right-page{ margin-bottom: 5px;}
	.right-page img{ max-width: 95%;}
}

@media (max-width:767px){
	.right-page img{ max-width: 100%;}
}

.cre-resume a{ background: #d40101; padding: 5px 10px; color: #fff; border-radius: 4px;
	display: inline-block; text-decoration: none;}
.cre-resume-right{ text-align: right;}
.cre-resume-right a{ background: #d40101; padding: 5px 10px; color: #fff; border-radius: 4px;
	display: inline-block; text-decoration: none;}
.apply-mail{ text-align: right;}
/*input.table-table[type=checkbox]{ margin-right: 5px;}*/
.th-position{ text-align: center;}

@media (max-width:425px){
	.position-none{ display: none;}
}