/* premium company */
.headNoGrid{ margin-bottom: var(--margin-bottom20);}
.premiumCompany{ margin-bottom: var(--margin-bottom40);}
.premiumCompanyGrid{ display: grid; grid-template-columns: repeat(5, 1fr); list-style: none; margin: 0; padding: 0; grid-gap: 15px;}
.premiumCompanyGrid img{ border: 1px solid var(--bg-gray);}
.premiumCompanyGrid li a{ display: flex; align-items: center; justify-content: center;}
.premiumCompanyGrid li a:hover{ transform: scale(1.03);}

@media (max-width:991px){
	.premiumCompanyGrid{ overflow-x: inherit; grid-template-columns: repeat(3, 1fr); padding-bottom: inherit;}
}

@media (max-width:768px){
	.premiumCompanyGrid{ grid-template-columns: repeat(3, 1fr);}
}

@media (max-width:576px){
	.premiumCompanyGrid{ grid-template-columns: repeat(3, 1fr);}
}

@media (max-width:480px){
	.premiumCompanyGrid{ grid-template-columns: repeat(2, 1fr);}
}