.theme-register{ margin-top: 5px; text-align: right;}
.control-register{ padding-left: 10px;}
.social-enter.fb a, .social-enter.gplus a, .social-enter.linkedin a{ margin-bottom: 0;}
.register-member{ text-align: center;}
.register-member a{ border-radius: 10px; padding: 10px; background: #D40101; color: #FFFFFF; text-decoration: none; display: inline-block; width: 50%;}
.register-member a:hover{ background: #eee; color: #D40101;}
.register-member a.disable{ background: #ebebeb; color: #d40101; border: 1px solid #ebebeb; cursor: no-drop;}
.for-worker{ display: inline-block; color: #d40101;}

a.only-condition{ color: #337ab7; text-decoration: none;}
a.only-condition:hover{ text-decoration: underline;}
.jobbkk-panel{ margin-bottom: 0; -webkit-box-shadow: 0 0 0 rgba(0,0,0,0); box-shadow: 0 0 0 rgba(0,0,0,0);}

.jobbkk-panel-title{ font-size: 1.4rem; font-size: 14px;}
.jobbkk-panel-body{ height: 200px; overflow-y: scroll;}
.jobbkk-panel-collapse{ margin-top: 20px; border: 1px solid #ebebeb;}

@media (max-width: 768px){
	.register-member a{ width: 100%;}
	.theme-register{ text-align: left; margin-bottom: 5px;}
}

.capcha ul{ margin: 0 -10px; padding: 0; list-style: none;}
.capcha ul li{ float: left; padding: 0 10px;}
.capcha ul li:last-child{ margin-top: 10px;}