label{ margin-bottom: 0;}

/*ปุ่มเมนูตอนเป็น tablet ของตรงแนะนำการใช้งาน*/
.navbar-cus{ background: transparent;}
.navbar ul.navbar-nav.navbar-nav-cus{ display: inherit; text-align: left; white-space: inherit;}
.navbar-nav-cus-none{ display: none !important;}
.navbar-collapse-cus{ padding: 0; background: transparent;}
.navbar-toggle-cus{ margin-right: 0; margin-top: 0;}
.navbar-default .navbar-collapse-cus{ margin-top: 5px; border: 0;}
.navbar-default .navbar-nav-cus>.active>a, .navbar-default .navbar-nav-cus>.active>a:focus, .navbar-default .navbar-nav-cus>.active>a:hover{ background: #bfbfbf;}
.navbar ul.navbar-nav-cus li a{ color: #555;}
.nav li.pad-pad{ padding: 10px 15px;}
.nav>li>a.pad-pad-0{ padding-left: 30px;}

@media (max-width:767px){
	.navbar-collapse-cus{ background: #ebebeb;}
	.navbar-nav-cus-none{ display: block !important; margin: 0;}
}

/*ปุ่มใช้งานเว็ปไซต์ ผู้สมัครงาน ผู้ประกอบการ*/
.nav-tabs>li>a{ padding: 10px 15px;}
.jobbkk-suggestion{ margin-top: 40px;}
.nav-suggestion{ border-bottom: 0;}
.nav-suggestion>li:first-child{ border-radius: 10px 0 0 10px;}
.nav-suggestion>li:last-child{ border-radius: 0 10px 10px 0;}
.nav-suggestion>li.active:first-child>a, .nav-suggestion>li.active:first-child>a:focus, .nav-suggestion>li.active:first-child>a:hover{ border-radius: 10px 0 0 10px;}
.nav-suggestion>li:last-child>a{ border-radius: 0 10px 10px 0;}
.nav-tabs>li{ min-width: inherit;}

@media (max-width:767px){
	.nav-tabs>li:first-child { border-left: 1px solid #bfbfbf;}
}

/*เนื้อหารการใช้งาน*/
body { margin: 0; height: 100vh;/* color: #555;*/}
.outersec { width: 100%; padding: 15px 0; height: 100%; position: relative;}
.outersec>.content-col, .outersec>.menu-col { height: 100%; display: inline-block; margin-right: -4px; vertical-align: top;}
/*.outersec>.content-col>.inner,*/ .outersec>.menu-col>.inner { width: 100%; overflow: auto;}
.outersec>.menu-col { width: 250px; padding: 0 15px; /*position: fixed;*/ float: left; /*position: absolute; width: 33.3333333%;*/}
.outersec>.menu-col>.inner { height: 100%;}
.outersec>.menu-col ul { margin: 0; padding: 0; list-style: none;}
.outersec>.menu-col ul>li>a {display: inline-block; padding: 10px 15px; text-decoration: none; width: 100%; background-color: #ebebeb; margin-bottom: 10px; color: #555; 
	border-radius: 10px;}
.outersec>.menu-col ul>li.active a, .outersec>.menu-col ul>li>a:hover { background-color: #333; color: #fff;}
.outersec>.menu-col ul>li:last-child>a { margin-bottom: 0;}

.outersec>.content-col { width: calc(100% - 250px); padding: 0 15px; margin-top: 38px; /*width: 66.6666667%; position: relative; right: -32%;*/}
.outersec>.content-col .heading { padding: 10px; background-color: #ebebeb; color: #555; border-radius: 10px}
.outersec>.content-col .heading.active { background-color: #333; color: #fff;}

@media (max-width:767px){
	.outersec>.content-col{ width: 100%; margin-top: 0;}
}

.data-row{ margin: 0 15px 20px; position: relative;}
.header-div-suggestion{ width: 100%; position: relative; overflow: hidden; margin-bottom: 20px;}
.text-suggestion{ width: 100%; position: relative; margin-bottom: 20px;}

/*อ่านเพิ่มเติม*/
.read-mores{ text-align: center; position: relative; margin-bottom: 20px;}
.read-mores a{ display: inline-block; color: #D40101; background: #fff; border: 1px solid #D40101; padding: 5px; border-radius: 10px; text-decoration: none;}
.read-mores a:hover{ background: #D40101; color: #fff;}
span.circle-suggestion{ background: #555; color: #fff; width: 25px; border-radius: 50%; text-align: center; display: inline-block; padding: 2px 0;}

@media (max-width:576px){
	.read-mores a{ font-size: 1.2rem; font-size: 12px;}
}

/*ถูกใจ เห็นแล้ว*/
.like-view{ position: relative; text-align: left; margin-bottom: 20px;}
.like-view ul{ margin: 0 -10px; padding: 0; list-style: none; display: inline-block;}
.like-view ul li{ float: left; padding: 0 10px;}
.like-view ul li button{ background: transparent; border: 1px solid transparent; color: #555;}

@media (max-width:576px){
	.like-view ul li{ font-size: 1.2rem; font-size: 12px;}
}

/*บทความมีประโยชน์*/
.head-content-benefit{ width: 100%; position: relative; color: #d40101;}
.head-content-benefit h6{ color: #d40101;}

.content-benefit{ position: relative;}
.content-benefit ul{ margin: 0 -10px; padding: 0; list-style: none;}
.content-benefit ul li{ width: 20%; padding: 0 10px; float: left;}
.pic-nong-job{ margin-bottom: 10px; text-align: center;}
.icon-nongjob img{ max-width: 60px;}
.detail-benefit{ text-align: center;}

@media (max-width:767px){
	.content-benefit ul li{ width: 33.3333333%; margin-bottom: 20px;}
}

@media (max-width:576px){
	.content-benefit ul li{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:480px){
	.content-benefit ul li{ width: 50%;}
	.content-benefit ul li:last-child{ margin-bottom: 0;}
}

@media (max-width:250px){
	.content-benefit ul li{ width: 100%; text-align: center;}
}

.underline{width: 100%; position: relative; overflow: hidden; border-bottom: 1px solid #bfbfbf; margin-bottom: 20px;}
.right-right{ margin-left: 15px;}
.right-right-1{ margin-left: 30px;}
.text-indent{ text-indent: 30px;}
