.langLine{ border-bottom: 1px solid #ddd; padding-bottom: 10px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding: 15px; vertical-align: middle; text-align: center;}
.table>tbody>tr>td.tdLeft{ text-align: left; vertical-align: baseline;}

@media (max-width:768px){
	.table>tbody>tr>td:last-child{ display: none;}
}

.profile{ margin-bottom: 15px;}
.profile img{ max-width: 100px; border-radius: 50%;}

.watchDetail{ margin-bottom: 10px;}
.interview button{ background: #2FA71D; border: 1px solid #2FA71D; border-radius: 4px; color: #fff;}
.addPlus{ background: #d40101; border: 1px solid #d40101; border-radius: 4px; color: #fff;}
.interview button:hover, .addPlus:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}
.perfectResume{ background: #2FA71D; border-radius: 4px; color: #fff; padding: 0 3px;}

.buttonTable{ width: 100%; margin-bottom: 5px;}
.tableInterview{ background: #2FA71D; border: 1px solid #2FA71D; border-radius: 4px; color: #fff; padding: 3px;}
.tableApply{ background: #00b4ff; border: 1px solid #00b4ff; border-radius: 4px; color: #fff; padding: 3px;}
.tableComplain{ background: #d40101; border: 1px solid #d40101; border-radius: 4px; color: #fff; padding: 3px;}
.tableDel{ background: #333; border: 1px solid #333; border-radius: 4px; color: #fff; padding: 3px;}