/*ตำแหน่งงาน table*/
.table-responsiveTable{ padding-bottom: 15px;}
.flag-lang{ max-width: 20px;}
.tableBottom{ margin-bottom: 20px !important;}
.paginate_button a{ font-size: 1.4rem;}
#table_id_length .form-control{ padding-left: 15px;}
table.dataTable thead th, table.dataTable thead td{ padding: 10px 15px;}
table.dataTable tbody th, table.dataTable tbody td{ padding: 8px 5px !important;}

.management ul{ margin: 0; padding: 0; display: flex; align-items: center; justify-content: center;}
.management ul li{ padding: 0 10px; border-right: 1px solid #bfbfbf;}
.management ul li:last-child{ border-right: 0;}
.management ul li button{ padding: 0 !important; text-align: center !important;}
table.dataTable tbody th, table.dataTable tbody td{ vertical-align: middle;}
.table-responsiveTable{ overflow-x: hidden;}

@media (max-width:1199px){
	.table-responsiveTable{ overflow-x: scroll;}
}

.rowFlex{ display: flex; align-items: center;}
.rightCredit{ text-align: right;}

tbody tr td button.offline-red{ border: 0; color: #d40101; background: transparent;}
tbody tr td button.online-green{ border: 0; color: #2FA71D; background: transparent;}
tbody tr td button.offline-red:hover, tbody tr td button.online-green:hover{ color: #000;}
tbody tr td button.open-premiumBg{ background: transparent; color: #2FA71D; background: transparent; border: 0;}
tbody tr td button.close-premiumBg{ background: transparent; color: #d40101; background: transparent; border: 0;}
tbody tr td ul li button.open-premiumBg:hover, tbody tr td ul li button.close-premiumBg:hover{ color: #000;}

.jobHilight{ text-align: left;}
.btn-date.btn-promote{ margin-top: 22.4px; font-size: 1.6rem;}

@media (max-width:768px){
	.promoteButton{ text-align: center;}
	.btn-date.btn-promote{ margin-top: 0; width: auto; display: inline-block;}
}

tbody tr td a.buyBuy{ background: #00b4ff; color: #fff; padding: 0 3px; border-radius: 4px; display: block; 
	text-decoration: none;}
tbody tr td a.buyBuy:hover{ background: #3babd9;}
.close{ color: #fff; opacity: 1; text-shadow: 0 0 0 transparent;}
.promoteWork{ background: #ebebeb; border-radius: 10px; padding: 15px;}

.workFlex{ display: flex; align-items: center;}

@media (max-width:768px){
	.workFlex{ display: inherit;}
}

@media (max-width:576px){
	.workWork{ width: 100%;}
}

