.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove { display: inline-block !important; color: #fff; margin-right: 5px;}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{ margin: 5px; background: #0F6FC9; color: #fff; border: 0; font-size: 1.6rem;}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{ width: 100% !important;}
.modal-footer{ border-top: 1px solid #e5e5e5; text-align: center;}
.buttonFooter button{ border-radius: 4px; padding: 5px 10px; color: #fff; background: #d40101; border: 1px solid #d40101; font-size: 1.6rem;}
.buttonFooter button:last-child{ background: #fff; border: 1px solid #bfbfbf; color: #555;}
.buttonFooter button:hover{ background: #ebebeb; color: #d40101; border: 1px solid #ebebeb;}

.close{ color: #fff; opacity: 1; text-shadow: 0 0 0 transparent;}
.listFlex{ display: flex; align-items: center;}

@media (max-width:768px){
	.listFlex{ flex-direction: column;}
}

@media (max-width:991px){
	.nav-suggestion>li:first-child, .nav-suggestion>li:nth-child(3), .nav-suggestion>li:last-child{ border-radius: 0;}
	.nav-suggestion>li:nth-child(3){ border-left: 1px solid #bfbfbf;;}
	.nav-suggestion>li.active:first-child>a, .nav-suggestion>li.active:first-child>a:focus, .nav-suggestion>li.active:first-child>a:hover, .nav-suggestion>li.active:last-child>a, 
	.nav-suggestion>li.active:last-child>a:focus, .nav-suggestion>li.active:last-child>a:hover{ border-radius: 0;}
}
