.bank-1 img{ max-width: 30px; margin-right: 10px;}
.bg-account{ background: #f6f3f2;}
.bg-account.job-padding{ padding: 10px;}
.name-account{ background: #f47920; display: inline-block; border-radius: 10px; padding: 5px 15px;}
.name-account h6{ text-align: center; color: #ffffff;}

td.logo-bank img{ max-width: 120px;}
td.verticle-m{ vertical-align: middle !important;}
.label-font{ font-size: 1.4rem; font-size: 14px; font-weight: normal;}

@media (max-width:576px){
	thead tr th, tbody tr td, .label-font{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:380px){
	td.logo-bank img{ max-width: 100%;}
}

.job-danger{ width: 20%; float: left; text-align: right; padding-right: 20px; color: #555;}
.list-danger{ width: 80%; float: left; text-align: left; color: #555;}
.list-danger ul{ margin: 0; padding: 0; list-style: none;}

.bank-2{ text-align: center;}
.bank-2 img{ max-width: 500px;}

.alert-account{ background: #f47920; display: inline-block; border-radius: 10px; padding: 5px 15px;}
.alert-account h6{ text-align: center; color: #ffffff;}

.payment a{ background: #d40101; color: #fff; border-radius: 4px; padding: 5px; display: inline-block; animation: pay 1s ease infinite alternate; 
	text-decoration: none;}
.payment a:hover{ background: #ebebeb; color: #d40101;}

.payment button{ background: #d40101; color: #fff; border: 1px solid #d40101;border-radius: 4px; padding: 5px; display: inline-block; animation: pay 1s ease infinite alternate; 
	text-decoration: none; transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.payment button:hover{ background: #ebebeb; color: #d40101; border: 1px solid #ebebeb;}

@keyframes pay {
	from { transform: scale(1); }
	to { transform:  scale(1.1); }
}

.package ul{ margin: 0; padding: 0; list-style: none;}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
	padding: 15px;}
.blue-blue>tbody>tr>td{ padding: 10px; background: #c6ecff;}
.blue-blue>thead:first-child>tr:first-child>th{ background: #3db6ff;}

.blue-blue>tbody>tr>td.text-bottom{ vertical-align: middle;}

