.jobbkk-form-control{ padding-left: 10px;}
button.refresh{ background: transparent; border: none; margin-top: 10px;}
.code img{ max-width: 200px;}
.save-cancel{ text-align: center;}
.save-cancel ul{ margin: 0; padding: 0; list-style: none; display: inline-block;}
.save-cancel ul li{ float: left; padding: 10px; display: inline-grid;}
.save-cancel ul li button{ border-radius: 10px; padding: 10px 25px;}
.save-cancel ul li:first-child button{ background: #D40101; border: 1px solid #D40101; color: #ffffff; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.save-cancel ul li:first-child button:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #D40101;}
.save-cancel ul li:last-child button{ background: #ebebeb; color: #555; border: 1px solid #ebebeb; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.save-cancel ul li:last-child button:hover{ background: #f6f3f2;  border: 1px solid #f6f3f2;}

@media (max-width:576px){
	.save-cancel ul li{ font-size: 1.2rem; font-size: 12px;}
	h2{ font-size: 1.8rem; font-size: 18px;}
}

@media (max-width:320px){
	.save-cancel ul{ display: inherit;}
	.save-cancel ul li{ width: 50%;}
	.save-cancel ul li:first-child{padding-left: 0;}
	.save-cancel ul li:last-child{ padding-right: 0;}
}

.again-again a{ text-decoration: none; color: #3680BC;}

img#refresh{cursor:pointer;}

label.error{ font-weight: normal;}
.error{ color: #D40101; margin-top: 5px;}
.code img.refresh-pic{ max-width: 30px; margin-left: 10px;}

@media (max-width:576px){
	label.error{ font-size: 1.2rem; font-size: 12px;}
}

.progress-top{ margin-top: 5px;}
.jobbkk-progress-bar{ background: #7CCB21;}