.gridBot{ display: grid; grid-template-columns: 1fr 1fr 0.5fr; grid-gap: 15px;}

@media (max-width:768px){
    .gridBot{ grid-template-columns: 1fr 1fr;}
}

@media (max-width:576px){
    .gridBot{ grid-template-columns: 1fr;}
    .gridBot>*{ border-bottom: 1px dashed var(--clBlackGray); padding-bottom: 15px;}
    .gridBot>*:last-child{ border-bottom: 0; padding-bottom: 0;}
    .bgBot, .bgAdress{ padding: 25px 15px !important;}
}

.gridCareerIndex{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px 15px;}
.gridCareerIndex a{ color: var(--clBlackGray); font-size: var(--fontSubText);}
.gridCareerIndex a:hover{ color: var(--clRed); text-decoration: underline !important;}

.flexAbout{ display: flex; flex-direction: column;}
.flexAbout a{ color: var(--clBlackGray); font-size: var(--fontSubText);}
.flexAbout a:hover{ color: var(--clRed); text-decoration: underline !important;}

.gridAdress{ display: grid; grid-template-columns: 1fr 0.5fr; grid-gap: 15px;}
.flexAdress{ display: flex; font-size: var(--fontSubText); color: var(--clWhite); gap: 30px;}
.flexAdress img{ max-width: 120px;}

.social{ display: flex; align-items: center; justify-content: flex-end; flex-wrap: wrap; gap: 15px;}
.social a{ display: inline-block; width: 35px; height: 35px;}
.social a:hover{ transform: scale(1.5);}
.social a.fb{ background: url(../images/social-01.svg) top center no-repeat; background-size: cover;}
.social a.tw{ background: url(../images/social-02.svg) top center no-repeat; background-size: cover;}
.social a.yt{ background: url(../images/social-03.svg) top center no-repeat; background-size: cover;}
.social a.ig{ background: url(../images/social-04.svg) top center no-repeat; background-size: cover;}
.social a.in{ background: url(../images/social-05.svg) top center no-repeat; background-size: cover;}
.social a.line{ background: url(../images/social-06.svg) top center no-repeat; background-size: cover;}

.app{ display: flex; align-items: center; justify-content: flex-end; gap: 15px;}
.app img{ max-width: 100px;}

@media (max-width:991px){
    .gridAdress{ grid-template-columns: 1fr;}
    .social, .app{ justify-content: center;}
}

@media (max-width:768px){
    .flexAdress{ flex-direction: column; justify-content: center; align-items: center; text-align: center;}
    .social, .app{ justify-content: center; align-items: center; flex-wrap: wrap;}
}