/* เข้าสู่ระบบ */
.enterSystem{ display: block;}

/* ผู้สมัครงาน ผู้ประกอบการ เข้าสู่ระบบแล้ว */
.useLogin{ display: none;}
.businessLogin{ display: none;}

/* โชว์เมนูของผู้สมัครงาน ผู้ประกอบการ */
.userMenuShow{ display: block;}
.businessMenuShow{ display: block;}

/* โชว์เมนูของผู้ประกอบการ แบบพรีเมียม */
.useMenuPremium{ display: block;}

@media (max-width:991px){
    .userMenuShow, .businessMenuShow{ display: none;}
  }
  