.flexSearchChat{ display: flex; flex-direction: column; background: var(--color-gray-young); padding: 15px;}
.gridSearch{ display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 15px;}
.lineDash{ border-bottom: 1px dashed var(--color-black-gray); height: 2px; margin: 15px 0;}
.dropDrop{ padding: 15px; width: 100%; font-size: var(--font16);}
.dropPad a{ display: block; padding: 5px; margin: 0 -15px; font-size: var(--font16);}
.dropPad a:hover{ background: var(--color-gray-young); }
label{ cursor: pointer; display: block; font-weight: 100;}
.headWork{ margin-bottom: 15px;}
.text-red{ color: var(--color-red);}

@media (max-width:991px){
	.gridSearch{ grid-template-columns: 1fr;}
}

/*ประเภทงานทั้งหมด*/
.dropDownTabWork, .button-group{ position: relative;}
.form-control-feedback{ top: 8px;}
.category-work{ width: 100%; background: var(--color-white); color: var(--color-black-gray); border-radius: 10px;
	display: flex; align-items: center; justify-content: space-between; height: 34px; cursor: pointer;
	font-size: var(--fontdetail); border: 1px solid var(--color-gray);}
.formControl{ padding: 6px 12px; border-radius: 10px; text-decoration: none !important;}
.radiusLeft{ border-radius: 10px 0 0 10px;}
.radiusRight{ border-radius: 0 10px 10px 0;}

.flexSelect{ display: flex; justify-content: space-between;}
.flexSelect>*{ margin-right: 15px;}
.flexSelect>*:last-child{ margin-right: 0;}

.listSelectWork{ margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap;}
.listSelectWork>*{ margin-right: 15px;}
.listSelectWork li{ margin-bottom: 5px;}
.listSelectWork button{ background: var(--color-blue); border: 1px solid var(--color-blue); 
	border-radius: 4px; color: var(--color-white);}
.listSelectWork button:hover{ background: var(--color-blue-hover);}
.confirmButton{ background: var(--color-red); border: 1px solid var(--color-red); padding: 5px 10px; 
	border-radius: 4px; color: var(--color-white); height: fit-content;}

.dropdown-menuLeftRight{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.dropdown-menu-left, .dropdown-menu-right{ height: 250px; overflow-y: scroll;}
.dropdown-menu-left a{ display: block; padding: 5px; color: var(--color-black-gray); text-decoration: none; 
	margin-right: 5px;}
.dropdown-menu-left a:hover, .dropdown-menu-left a.active{ background: var(--color-gray-young);}

.dropdown-menu-right::-webkit-scrollbar, .dropdown-menu-left::-webkit-scrollbar{ width: 5px;}
.dropdown-menu-right::-webkit-scrollbar-track, 
.dropdown-menu-left::-webkit-scrollbar-track{ box-shadow: inset 0 0 6px rgba(0,0,0,0.5); background-color: #F5F5F5;}
.dropdown-menu-right::-webkit-scrollbar-thumb, .dropdown-menu-left::-webkit-scrollbar-thumb{ background-color:#7D7979;}

.selectWorkFlex{ display: flex; align-items: center;}
.selectWork5{ text-align: center; padding: 5px;}
.selectWork5 figure img{ max-width: 150px;}
.selectWork5 figcaption{ color: #337ab7; font-size: 2rem; font-weight: bold;}

.flexDi{ display: flex; flex-direction: column; margin: 0; padding: 0; list-style: none; width: 100%;}

.gridMoney{ display: grid; grid-template-columns: 1fr 1fr;}

.other ul{ margin: 0; padding: 0; list-style: none; display: flex; align-items: center; 
	background: #fff; border: 1px solid #ccc; border-radius: 10px; padding: 5px 12px;}
.other ul li{ float: left; padding: 0 10px;}
.other ul li:first-child{ padding-left: 0;}

@media (max-width:576px){
	.other ul{ display: grid; grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: auto; align-items: stretch; grid-gap: 10px;}
	.other ul li{ padding: 0;}
	.other ul li:first-child{ grid-column: 1/span 3;}
}

@media (max-width:480px){
	.other ul{ display: grid; grid-template-columns: 1fr;}
	.other ul li:first-child{ grid-column: 1;}
}

@media (max-width:576px){
	.selectWork5 figure img{ max-width: 100px;}
}

.d-flex{ display: flex; align-items: center;}
.headWork{ font-size: 2.8rem; color: #d40101;}
.technicWork{ text-align: right;}
.technicWork a{ font-size: 2rem; text-decoration: none;}
.technicWork a:hover{ color: #d40101;}

@media (max-width:768px){
	.headWork{ font-size: 2rem;}
	.technicWork{ font-size: 1.6rem;}
}

.clearSearch{ text-align: right;}
.clearSearch button{ width: 100%; background: transparent; border: 1px solid #ccc; 
	background: #fff; border-radius: 10px; height: 34px;}
.clearSearch button:hover{ background: #333; color: #fff; border: 1px solid #333;}

.clearSearch{ text-align: center;}
.clearSearch button{ background: #fff; border: 1px solid #bfbfbf;}
.clearSearch button:hover{ text-decoration: none;}

@media (max-width:768px){
	.clearWork{ display: none;}
}

.detail .panel-group{ margin-bottom: 0;}
.detail .panel-group .panel-heading{ padding: 0;}
.detail a{ width: 100%; height: 34px; background: #fff; border: 1px solid #ccc; 
	border-radius: 10px; display: block; text-align: center; padding: 6.5px 12px; color: #555; text-decoration: none;}

.panel-group .panel-headingJobbkk{ padding: 0;}
.panel-bodyJobbkk{ padding: 0 15px;}

.search-work a{ background: #d40101; border-radius: 10px; color: #fff; display: block; 
	text-align: center; text-decoration: none; height: 34px; padding: 6.5px 12px;}
.search-work a:hover{ background: #b90303;}
.search-work button{ background: #d40101; border-radius: 10px; color: #fff; display: block; 
	text-align: center; text-decoration: none; height: 34px; padding: 6.5px 12px; border: 1px solid #d40101;}
.search-work button:hover{ background: #b90303; border: 1px solid #b90303;}

.search-work button{ border-radius: 10px; width: 100%; height: 34px; padding: 6.5px 12px; 
	color: #fff; border: 1px solid #D40101; text-align: center;}
.search-work button:hover{ background: #b90303;}

@media (max-width:380px){
	.detail, .search-work{ width: 100%;}
}

#accordionMobile{ display: none;}

@media (max-width:768px){
	#accordionMobile{ display: block;}
	#accordionPc{ display: none;}
}

.modal-headerWork{ border-radius: 7px 7px 0 0; background: #d40101;}
.modal-headerWork h4{ color: #fff; font-size: 2rem;}
.modal-headerWork .close{ color: #fff; opacity: 0.8; font-size: 3rem; font-weight: 100;}
.modal-footerWork button{ border: 1px solid #bfbfbf; border-radius: 4px;}

/*
.dropdown-menu li a:hover{ background: #ebebeb;}
.dropdown-menu li ul.dropdown-menu-right{ position: absolute; top: 0; right: 0; left: 50%; z-index: 1000; float: right; min-width: 50%; padding: 0 5px; text-align: left; 
	list-style: none; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box;
	border: 0; border-left: 1px solid #ccc; border-radius: 0; overflow-y: scroll; height: 100%; padding: 15px;}
.dropdown-menu li ul.dropdown-menu-right li label{ color: #333; display: block; word-wrap: break-word;}
.dropdown-menu li ul.dropdown-menu-right::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
.dropdown-menu li ul.dropdown-menu-right::-webkit-scrollbar{ width: 5px; background-color: #7D7979;}
.dropdown-menu li ul.dropdown-menu-right::-webkit-scrollbar-thumb{ background-color:#7D7979;}

.dropdown-menu li ul.dropdown-menu-left{ position: absolute; top: 0; right: 0; right: 50%; z-index: 1000; float: right; min-width: 50%; padding: 0 5px;
	margin: 2px 0 0; text-align: left; list-style: none; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box;
	border: 0; border: 0 rgba(0,0,0,0); border-left: 1px solid #ccc; border-left: 1px solid rgba(0,0,0,.15); border-radius: 0; -webkit-box-shadow: 0 rgba(0,0,0,0);
	box-shadow: 0 rgba(0,0,0,0); overflow-y: scroll; height: 250px;
}
.dropdown-menu li ul.dropdown-menu-left li a{ color: #333; padding: 0 15px; display: block; word-wrap: break-word;}
.dropdown-menu li ul.dropdown-menu-left::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
.dropdown-menu li ul.dropdown-menu-left::-webkit-scrollbar{ width: 5px; background-color: #7D7979;}
.dropdown-menu li ul.dropdown-menu-left::-webkit-scrollbar-thumb{ background-color:#7D7979;}
.dropdown-menu-left li a.active { background: #ebebeb;}
.dropdown-menu-left a, .dropdown-menu-right a{ color: #000;}
.dropdown-menu-right label{ font-weight: 100; cursor: pointer;}
.dropdown-menu-left label{ font-weight: 100; cursor: pointer;}
.menu-other-work li label{ padding: 3px 20px;margin-bottom: 0px;}
*/

