:root{ 
	--color-red: #d40101;
	--color-white: #fff; 
	--color-black-gray: #333;
	--color-black: #000;
	--color-gray: #bfbfbf;
	--color-gray-young: #ebebeb; 
	--color-orange: #f47920;
	--color-orange-hover: #b4530d;
	--color-blue: #258de7;
	--color-blue-hover: #0966b7;
	--color-green: #5fad56;
	--color-green-hover: #3b7e33;

	--font28: 2.8rem; 
	--font24: 2.4rem; 
	--font22: 2.2rem; 
	--font20: 2rem; 
	--font18: 1.8rem; 
	--font16: 1.6rem; 
	--font14: 1.4rem;
	--font12: 1.2rem;
}

@media (max-width:576px){
	:root{
		--font28: 2.2rem; 
		--font24: 2rem; 
		--font22: 2rem; 
		--font20: 1.6rem; 
		--font18: 1.6rem;
	}
}