/*หัว เวบบอร์ด*/
.table-webboard{ margin-bottom: 40px;}
.text-head-webboard{ font-size: 30px; font-size: 3rem; margin-bottom: 10px;}
.table-bottom{ margin-bottom: 0;}

@media (max-width:576px){
	.text-head-webboard{ font-size: 20px; font-size: 2rem;}
}

/*tag เวบบอร์ด*/
.tag-webboard{ margin-bottom: 20px;}
.tag-webboard ul{ margin: 0 -5px; padding: 0; list-style: none;}
.tag-webboard ul li{ float: left; padding: 0 5px;}
.tag-webboard ul li h2 a{ display: block; color: #555; text-decoration: none; font-size: 14px; font-size: 1.4rem;}
.tag-webboard ul li h2 a.active{ color: #d40101;}
.tag-webboard ul li h2 a:hover{ color: #d40101;}

@media (max-width:576px){
	.tag-webboard ul li h2 a{ font-size: 12px; font-size: 1.2rem;}
}

.table-border{ border: 1px solid #bfbfbf;}
.text-orange{ color: #f47920;}
td.box-width img{ max-width: 50px; border: 1px solid #bfbfbf; padding: 5px; border-radius: 4px;}
td h2{ font-size: 14px; font-size: 1.4rem;}
.box-width{ width: 90px;}

@media (max-width:576px){
	td h2{ font-size: 12px; font-size: 1.2rem;}
}

/*หัวกระทู้*/
.head-posts{ font-size: 14px; font-size: 1.4rem; padding: 10px;}
td h2 a{ display: block; color: #0F6FC9; text-decoration: none !important; font-size: 14px; font-size: 1.4rem;}
td h2 a:hover{ color: #d40101;}

@media (max-width:576px){
	td h2 a{ font-size: 12px; font-size: 1.2rem;}
}

td.name-user{ text-align: right;}
td.name-user ul{ margin: 0; padding: 0; list-style: none; display: inline-block;}
td.name-user ul li{ float: left; padding: 0 5px;}
td.name-user ul li a{ display: block; color: #d40101;}
td.name-user ul li img{ max-width: 50px;}

@media (max-width:440px){
	td.name-user ul li{ width: 100%;}
}

span.name-red{ color: #d40101;}
.post-user ul{ margin: 0; padding: 0; list-style: none;}
.post-user ul li a{ display: block; color: #0F6FC9;}

@media (max-width:576px){
	.post-user ul li, .post-user ul li a{ font-size: 12px; font-size: 1.2rem;}
}

/*ผู้ตั้งกระทู้*/
.box-post-post{ margin-bottom: 20px;}
.post-post{ border: 1px solid #bfbfbf; padding: 15px 15px 0; position: relative;}
.pic-post-pic{ margin-bottom: 10px; text-align: center;}
.text-pic-post{ text-align: center; margin-bottom: 10px;}
.text-pic-post ul{ margin: 0; padding: 0; list-style: none;}
.text-pic-post ul li a{ display: block; color: #d40101;}

.head-text-post{ margin-bottom: 20px;}
.head-text-post h2{ font-size: 20px; font-size: 2rem; color: #d40101; border-bottom: 1px solid #bfbfbf; padding-bottom: 10px;}
.text-post{ min-height: 300px; border-left: 1px dashed #bfbfbf;}
.text-text-post{ min-height: 160px;}
.time-text-post{ position: absolute; bottom: 0; margin-bottom: 10px;}

@media (max-width:767px){
	.text-text-post{ min-height: inherit; margin-bottom: 40px;}
	.time-text-post{ position: inherit; bottom: 0;}
}

@media (max-width:576px){
	.head-text-post h2{ font-size: 14px; font-size: 1.4rem;}
	.text-pic-post ul li, .text-pic-post ul li a{ font-size: 12px; font-size: 1.2rem;}
}

@media (max-width:380px){
	.pic-post, .text-post{ width: 100%;}
	.pic-post-pic img{ max-width: 50%;}
	.text-pic-post{ margin-bottom: 20px;}
}

/*โซเชีบลกระทู้*/
.social-post{ border-top: 1px solid #bfbfbf;}
.social-post ul{ margin: 0 -10px; padding: 0; list-style: none;}
.social-post ul li{ float: left; padding: 10px;}
.social-post ul li a{ display: block; color: #555; text-decoration: none;}
.social-post ul li a.fb-fb:hover{ color: #4267b2;}
.social-post ul li a.tw-tw:hover{ color: #1da1f2;}
.social-post ul li a.gg-gg:hover{ color: #db4437;}

.color-facebook{ color: #4267b2;}
.color-twitter{ color: #1da1f2;}
.color-google{ color: #db4437;}

.user-answer{ background: #d40101; padding: 10px; text-align: center; position: relative;}
.user-answer h6{ color: #fff;}

@media (max-width:576px){
	.social-post ul li a{ font-size: 12px; font-size: 1.2rem;}
	.user-answer{ padding: 5px 3px;}
}

@media (max-width:380px){
	.pic-post, .text-post{ width: 100%;}
	.pic-post-pic img{ max-width: 50%;}
	.user-answer{ width: 50%; position: relative; left: 25%;}
}

