.flexReturn{ display: flex; align-items: center; justify-content: space-between; gap: 15px; width: 100%;}
.flexReturn a{ display: inline-block; border-radius: 50px; padding: 5px 20px; color: var(--clBlackGray); 
    background: var(--clWhite); border: 1px solid var(--clBlackGray); text-decoration: none;}
.flexReturn a:hover{ background: var(--clRedHover); border: 1px solid var(--clRedHover); color: var(--clWhite)}

.flexLogin{ background: var(--clWhite); border-radius: 10px; box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); position: relative; top: 30px; 
    max-width: 850px; width: 100%; margin: 0 auto;}
.bgLogin{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.registerPush button{ background: var(--clRed); color: var(--clWhite); border-radius: 50px; padding: 5px 20px; border: 1px solid var(--clRed);}
.registerPush button:hover{ background: var(--clRedHover); border: 1px solid var(--clRedHover);}

@media (max-width:576px){
    .bgLogin{ grid-template-columns: 1fr;}
    .applicant{ border-bottom: 1px dashed var(--clBlackGray);}
    .flexLogin{ margin-bottom: 30px;}
    .flexReturn{ flex-direction: column;}
}