.bg-contact{ background: #f5f3f2; overflow: hidden; border-radius: 10px;}
.jobbkk-form-control-contact{ padding-left: 12px;}
textarea.form-control.jobbkk-textarea{ height: 100px;}

.code-code ul{ margin: 0 -15px; padding: 0; list-style: none;}
.code-code ul li{ float: left; padding: 0 15px; width: 50%;}
.code-code ul li.push-code button{ background: transparent; border: none;}

@media (max-width:320px){
	.code-code ul li{ width: 100%; margin-bottom: 20px;}
}