p{ margin: 0;}
.allGroup{ margin-bottom: var(--margin-bottom20);}
.gridInput{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0 15px; margin-top: var(--margin-top20);}
.headCareer{ font-size: var(--font20); margin-bottom: var(--margin-bottom10); font-weight: bold;}
.subAge{font-size: var(--font18);}

.flexSubInput{ display: grid; grid-template-columns: 1fr 3fr 1fr 3fr; align-items: center; grid-gap: 0 15px;}
.flexSubInput .right{ text-align: right;}

.gridInput.state{ margin-top: 0;}

.flexSearch{ display: flex; justify-content: center;}
.submitSearch{ background: var(--bg-red); margin-top: var(--margin-top20); border: 1px solid var(--bg-red); border-radius: 4px; padding: 10px 25px; font-size: var(--font18); color: var(--color-white);
    transition: all ease-in-out 0.5s; -webkit-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; 
}
.submitSearch:hover{ background: var(--bg-dark-red);}

@media (max-width:991px){
    .flexSubInput{ grid-template-columns: 1fr 3fr; grid-gap: 15px 0;}
    .flexSubInput .right{ text-align: inherit;}
}

@media (max-width:576px){
    .gridInput{ grid-template-columns: 1fr; grid-gap: 15px 0;}
    .flexSubInput{ grid-template-columns: 1fr 3fr 1fr 3fr; grid-gap: 0 15px;}
    .flexSubInput .right{ text-align: right;}
}

@media (max-width:480px){
    .flexSubInput{ grid-template-columns: 1fr 3fr; grid-gap: 15px 0;}
    .flexSubInput .right{ text-align: inherit;}
}