label{ font-weight: 100;}

@media (max-width:991px){
	.nav-tabs>li{ min-width: auto; text-align: center;}
	.nav-tabs>li>a{ padding: 10px 15px;}
}

@media (max-width:650px){
	.jobbkk-worktab::-webkit-scrollbar{ height: 10px; background-color: #7D7979;}
	.jobbkk-worktab::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
	.jobbkk-worktab::-webkit-scrollbar-thumb { background-color:#7D7979; border-radius: 20px;}
}

.pic-in-applicant{ text-align: center;}
.text-pic-applicant{ text-align: center;}

.dropdown-menu-applicant{ left: -100px; min-width: 100%; right: 0;}
.dropdown-menu-applicant li a{ white-space: normal;}
ul.sub-text-pic{ margin: 0; padding: 0; list-style: none; display: inline-block}
ul.sub-text-pic li{ color: #555;}
ul.sub-text-pic li.text-pic-img a{ background: #f47920; color: #ffffff; border-radius: 4px; padding: 0 5px; text-decoration: none; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
ul.sub-text-pic li.text-pic-img a:hover{ background: #D40101;}

@media (max-width:767px){
	.dropdown-menu-applicant{ left: -200px;}
	.pic-applicant{ border-right: 0; margin-top: 8px;}
	.pic-in-applicant img{ max-width: 100%; width: auto;}
}

@media (max-width:576px){
	ul.dropdown-menu-applicant li{ font-size: 1.2rem; font-size: 12px;}
}

@media (max-width:380px){
	.pic-applicant{ margin-top: 5px;}
	.dropdown-menu-applicant{ left: -200px;}
}

.jobbkk-pluse{ transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.jobbkk-pluse:hover{ -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5); 
	-moz-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5); -o-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5); box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5); border-radius: 10px;}
.border-banner{ border: 1px solid #bfbfbf; overflow: hidden;}
button{ transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}

/*package*/

.recommend{ position: relative;}
.recommend img{ position: absolute; max-width: 75px; top:-11px; right: -11px;}

.pic-banner{ background: #ebebeb; border-radius: 4px; border: 1px solid #bfbfbf;}
.detail-banner ul{ margin: 0; padding: 0; list-style: none;}
.buy-vat{ text-align: right;}
.buy-vat ul{ margin: 0; padding: 0; list-style: none;}
.vat-padding{ padding-right: 60px;}

@media (max-width:991px){
	.buy-vat{ text-align: left;}
	.vat-padding{ padding-right: 0;}
}

@media (max-width:767px){
	.vat-top{ padding-top: 40px;}
}

@media (max-width:576px){
	.buy-list{ width: 100%;}
	.buy-vat{ text-align: left; width: 100%}
	.vat-top{ padding-top: 0;}
}

.dropdown-menu-sub-buy{ left: -350px;}
.order-buy{ text-align: right;}
.order-buy ul{ margin: 0 -10px; padding: 0; list-style: none; display: inline-flex}
.order-buy ul li{ float: left; padding: 0 10px; text-align: center; display: inline-grid;}

@media (max-width:991px){
	.order-buy{ text-align: left;}
}

.sub-buy ul.ul-sub-buy{ margin: 0 -10px; padding: 0; list-style: none; margin-top: 10px;}
.sub-buy ul.ul-sub-buy li.li-sub-buy{ float: left; padding: 0 10px; color: #d40101; margin-bottom: 10px;}
.sub-buy ul.ul-sub-buy li.li-sub-buy img{ max-width: 80px;}
.sub-buy ul.ul-sub-buy li.li-sub-buy-right{ float: right;}
.sub-buy-detail{ font-size: 12px; font-size: 1.2rem; color: #555;}
button.del-buy{ background: #d40101; color: #fff; border-radius: 4px; border: 1px solid #d40101; padding: 2px 10px; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
button.del-buy:hover{ background: #ebebeb; color: #d40101; border: 1px solid #ebebeb;}


.button-red{ display: inline-block; border-radius: 4px; background: #d40101; color: #fff; padding: 5px 15px; text-decoration: none !important;}
.button-red:hover{ background: #ebebeb; color: #d40101;}
.button-white{ background: #fff; color: #555; border: 1px solid #bfbfbf; padding: 5px 15px; border-radius: 4px; display: inline-block; text-decoration: none !important;}
.button-white:hover{ background: #ebebeb; color: #d40101; border: 1px solid #ebebeb;}
.button-green{ display: inline-block; border-radius: 4px; background: #2FA71D; color: #fff; padding: 5px 15px; text-decoration: none !important;}
.button-green:hover{ background: #1e880e; color: #fff;}

.focus-member{ background: #ebebeb;}
.list-warning{ border-radius: 4px; background: #d40101; color: #fff; padding: 0 3px; font-size: 12px; font-size: 1.2rem;}

.cart-buy{ position: absolute; right: 80px; top: 5px;}
.cart-buy img{ max-width: 30px;}
.circle-red-buy{ position: absolute; top: -5px; z-index: 99; right: -10px; font-size: 12px; font-size: 1.2rem;
    background: #d40101; border-radius: 50%; width: 20px; height: 20px; color: #fff; text-align: center;
    align-items: center; display: flex;}

.watch-cart{ text-align: right; margin: 10px 0;}
.watch-cart a{ display: inline-block; background: #d40101; color: #fff; padding: 5px 15px; border-radius: 4px; text-decoration: none;}
.watch-cart a:hover{ background: #ebebeb; color: #d40101;}

/*ตารางการสั่งซื้อ*/
thead tr th.td-position, tbody tr td.td-position{ text-align: center;}
.list-product ul{ margin: 0 -10px; padding: 0; list-style: none;}
.list-product ul li{ float: left; padding: 0 10px;}
.list-product ul li img{ max-width: 150px;}

.bottom-zero{ margin-bottom: 0;}
.product-del{ display: inline-block; background: #d40101; border: 1px solid #d40101; color: #fff; padding: 3px 15px; border-radius: 4px; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.product-del:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}
.input-number{ padding: 0 5px; text-align: center;}
.input-group-btn-cus{ border: 1px solid #ccc;}
.input-group-btn-cus-left{ border-radius: 4px 0 0 4px; border-right: 0;}
.input-group-btn-cus-right{ border-radius: 0 4px 4px 0;}
.table-cus{ margin-bottom: 0;}

@media (max-width:576px){
	.input-group .input-number{ font-size: 12px; font-size: 1.2rem;}
	thead tr th, tbody tr td, .btn-number{ font-size: 12px; font-size: 1.2rem;}
}

@media (max-width:530px){
	.input-group .input-number{width: 40px;}
}

.line-border{ border-bottom: 1px solid #bfbfbf; overflow: hidden; margin-bottom: 20px;}

/*ส่วนของใช้คูปอง*/
.jobbkk-form-control{ padding-left: 10px;}
.coupon{ margin-bottom: 10px;}
.coupon img{ max-width: 30px;}
.coupon ul{ margin: 0 -10px; padding: 0; list-style: none; display: inline-block;}
.coupon ul li{ float: left; padding: 0 10px;}
.coupon ul li.coupon-top{ margin-top: 5px;}
.coupon ul li button.code-confirm{ background: #d40101; border-radius: 4px; border: 1px solid #d40101; color: #fff; padding: 5px 10px; transition: all 0.3s ease-in; 
	-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.coupon ul li button.code-confirm:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}

@media (max-width:767px){
	.col-coupon{ text-align: center;}
}

@media (max-width:340px){
	.coupon ul{ width: 100%;}
	.coupon ul li{ float: none;}
	.coupon ul li:first-child{ width: 100%; margin-bottom: 10px;}
	.coupon ul li:last-child{ text-align: center;}
}

.all-cost{ text-align: right;}
.all-cost ul{ margin: 0 -10px; padding: 0; list-style: none; display: inline-block;}
.all-cost ul li{ padding: 0 10px;}
.all-cost ul li a{ background: #2FA71D; padding: 5px 10px; border-radius: 4px; color: #fff; text-decoration: none;}
.all-cost ul li a:hover{ background: #ebebeb; color: #d40101;}
.all-cost ul li:last-child{ margin-top: 8px;}
span.cost-red{ color: #d40101; font-size: 20px; font-size: 2rem;}

@media (max-width:767px){
	.all-cost{ text-align: center;}
}

.add-buy a{ background: #d40101; padding: 5px 10px; border-radius:4px; color: #ffffff; text-decoration: none;}
.add-buy a:hover{ background: #ebebeb; color: #d40101;}

/*sweet alert*/
.swal-footer{ text-align: center;}
.swal-button:not([disabled]):hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}
.swal-button:focus{ background: #d40101; box-shadow: 0;}
.swal-icon--success__line{ background: #2FA71D;}
.swal-icon--success{border-color: #2FA71D;}

.swal-icon--error{ border-color: #d40101;}
.swal-icon--error__line{ background: #d40101;}

.swal-button--cancel{ background: #fff; border: 1px solid #bfbfbf; color: #555; transition: all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; 
	-moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in;}
.swal-button--cancel:hover{ background: #ebebeb; border: 1px solid #ebebeb;}

.fix-payment{ position: fixed; top: 200px; z-index: 576; width: 30%; margin: 0 auto;}
.bg-payment{ background: #ebebeb; border: 1px solid #bfbfbf; border-radius: 4px; overflow: hidden; padding: 15px 0;}
.head-buy{ background: #d40101; color: #fff; padding: 10px; border-radius: 4px 4px 0 0;}
.border-buy{ background: #fff; border: 1px solid #bfbfbf; overflow: hidden;}
.buy-top{ margin: 15px 0 0; border-bottom: 1px solid #bfbfbf; padding-bottom: 15px;}
.list-scroll{ height: 220px; overflow-y: auto;}
.list-scroll::-webkit-scrollbar { width: 5px;}
.list-scroll::-webkit-scrollbar-track { background: #f1f1f1;}
.list-scroll::-webkit-scrollbar-thumb { background: #888;}
.list-scroll::-webkit-scrollbar-thumb:hover { background: #555;}

@media (max-width:991px){
	.fix-payment{ width: 35%}
}

.howMuch{ text-align: right;}
.howMuch ul{ margin: 0 -5px; padding: 0; list-style: none; display: inline-flex; align-items: center;}
.howMuch ul li{ float: left; padding: 0 5px;}
.howMuch ul li button.minus{ background: transparent; border: 0; border-radius: 4px; color: #bfbfbf;}
.howMuch ul li button:hover{ color: #d40101;}

.modal-content-remove{ margin-top: 40%;}
.modal-header{ background: #d40101; border-radius: 7px 7px 0 0;}
.modal-footer{ text-align: center;}
.close, .modal-title{ color: #fff; opacity: 1;}
.confirm{ background: #d40101; border-radius: 4px; border: 1px solid #d40101; color: #fff; padding: 5px 10px;}
.cancel{ background: #fff; border-radius: 4px; border: 1px solid #bfbfbf; color: #555; padding: 5px 10px;}
.confirm:hover, .cancel:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}

.pay-order{ text-align: center; margin: 15px 0;}
.pay-order button{ background: #d40101; border: 1px solid #d40101; border-radius: 4px; color: #fff; padding: 5px 10px; display: inline-block;}
.pay-order button:hover{ background: #ebebeb; color: #d40101; border: 1px solid #ebebeb;}

.mix-cost{ margin: 15px 0;}
.cost-right{ text-align: right;}
.input-banner ul{ margin: 0; padding: 0; list-style: none;}
.padding-banner{ padding-right: 45px;}

@media (max-width:380px){
	.head-fair{ margin-top: 30px;}
}

/*========เปรียบเทียบ=========*/
.compare{ margin-bottom: 10px; width: 100%;}
.package{ text-align: center;}
.package img{ max-width: 150px;}

.compare-buy{ background: #d40101; border: 1px solid #d40101; border-radius: 4px; color: #ffffff; padding: 5px 15px;}
.compare-buy:hover{ background: #ebebeb; border: 1px solid #ebebeb; color: #d40101;}
.compare-useBuy{ background: #2FA71D; border: 1px solid #2FA71D; color: #ffffff; border-radius: 4px; padding: 5px 15px;}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	padding: 15px 8px; vertical-align: middle;}

/*=========รายละเอียด package=========*/
.font-size-48{ font-size: 48px; font-size: 4.8rem;}

@media (max-width:576px){
	.font-size-48{ font-size: 46px; font-size: 4.6rem;}
}

.bg-package{ background: #ebebeb; padding: 15px 0; border-radius: 10px; overflow: hidden; border: 1px solid #bfbfbf;}
.border-right{ border-right: 1px solid #bfbfbf;}
.align-item{ align-items: center; display: flex;}

.icon-pack{ text-align: center;}
.icon-pack img{ max-width: 150px;}
.jobbkk-right{ text-align: right;}

@media (max-width:991px){
	.jobbkk-right{ text-align: left; margin-top: 20px;}
}

@media (max-width:480px){
	.icon-pack, .resume-pack{ width: 100%;}
	.resume-pack, .jobbkk-right{ text-align: center;}
	.border-right{ border-right: 0;}
	.align-item{ display: inherit;}
}

.breadcrumb{ background: transparent; padding: 8px 0;}
.compare-pack{ text-align: right;}
.compare-pack a{ background: #ffffff; border: 1px solid #d40101; padding: 10px; border-radius: 4px; 
	text-align: center; color: #d40101; text-decoration: none; display: inline-block;}
.compare-pack a:hover{ background: #ebebeb; border: 1px solid #ebebeb;}

@media (max-width:480px){
	.box-pack{ width: 100%;}
	.compare-pack{ text-align: center; width: 100%;}
}

.detail-pack ul{ margin: 0 -10px; padding: 0; list-style: none;}
.detail-pack ul li{ float: left; padding: 0 10px;}

.recommend-list{ position: relative; z-index: 99;}
.recommend-list img{ position: absolute; max-width: 75px; top: 0; right: 0;}
.buy-absolute{ position: absolute; right: 15px; bottom: 0; margin-bottom: 20px;}

@media (max-width:991px){
	.buy-absolute{ position: relative; text-align: right; right: 0; margin-bottom: 0;}
}

@media (max-width:576px){
	.list-cus, .vat-cus{ width: 100%;}
}




